Pandas Basics by Isha Borgaonkar

In [132]:
#Importing Pandas 
import pandas as pd

In [133]:
#Read the dataset into Pandas DataFrame
df=pd.read_csv('IPLData.csv')

In [134]:
#printing the dataframe
df

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150455,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150456,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,0,0,0,CJ Jordan,run out,NV Ojha
150457,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
150458,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,5,Sachin Baby,Iqbal Abdulla,B Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150459,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [135]:
# View the first few rows of the dataset
df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [137]:
#printing first 10 rows in the datasets
df.head(10)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
5,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,6,S Dhawan,DA Warner,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,7,S Dhawan,DA Warner,TS Mills,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
7,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,1,S Dhawan,DA Warner,A Choudhary,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
8,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,2,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
9,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,3,DA Warner,S Dhawan,A Choudhary,0,...,0,0,1,0,0,1,1,NaN,NaN,NaN

In [140]:
#printng last 5 rows by tail function()
df.tail()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
150455,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150456,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,0,0,0,CJ Jordan,run out,NV Ojha
150457,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
150458,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,5,Sachin Baby,Iqbal Abdulla,B Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150459,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [7]:
#printing Last 10 rows by tail function
df.tail(10)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
150450,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,19,3,CJ Jordan,Sachin Baby,Mustafizur Rahman,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
150451,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,19,4,CJ Jordan,Sachin Baby,Mustafizur Rahman,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
150452,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,19,5,Sachin Baby,CJ Jordan,Mustafizur Rahman,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150453,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,19,6,Sachin Baby,CJ Jordan,Mustafizur Rahman,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
150454,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,1,CJ Jordan,Sachin Baby,B Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150455,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150456,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,0,0,0,CJ Jordan,run out,NV Ojha
150457,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
150458,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,5,Sachin Baby,Iqbal Abdulla,B Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150459,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [141]:
#Get a concise summary of the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150460 entries, 0 to 150459
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          150460 non-null  int64
 1   inning            150460 non-null  int64
 2   batting_team      150460 non-null  object
 3   bowling_team      150460 non-null  object
 4   over              150460 non-null  int64
 5   ball              150460 non-null  int64
 6   batsman           150460 non-null  object
 7   non_striker       150460 non-null  object
 8   bowler            150460 non-null  object
 9   is_super_over     150460 non-null  int64
 10  wide_runs         150460 non-null  int64
 11  bye_runs          150460 non-null  int64
 12  legbye_runs       150460 non-null  int64
 13  noball_runs       150460 non-null  int64
 14  penalty_runs      150460 non-null  int64
 15  batsman_runs      150460 non-null  int64
 16  extra_runs        150460 non-null  int64
 17  total_runs        150460 non-null  int64
 18  player_dismissed  7438 non-null    object
 19  dismissal_kind    7438 non-null    object
 20  fielder           5369 non-null    object
dtypes: int64(13), object(8)
memory usage: 24.1+ MB

In [142]:
# Statistical summary of numeric columns
df.describe()

,match_id,inning,over,ball,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs
count,150460.000000,150460.000000,150460.000000,150460.000000,150460.000000,150460.000000,150460.000000,150460.000000,150460.000000,150460.000000,150460.000000,150460.000000,150460.000000
mean,318.281317,1.482188,10.142649,3.616483,0.000538,0.037498,0.004885,0.022232,0.004340,0.000066,1.222445,0.069022,1.291466
std,182.955531,0.501768,5.674338,1.807698,0.023196,0.257398,0.114234,0.200104,0.072652,0.018229,1.594509,0.349667,1.583240
min,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,161.000000,1.000000,5.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,319.000000,1.000000,10.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
75%,476.000000,2.000000,15.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
max,636.000000,4.000000,20.000000,9.000000,1.000000,5.000000,4.000000,5.000000,5.000000,5.000000,6.000000,7.000000,7.000000

In [10]:
#enlisting data types from pandas
df.dtypes

match_id             int64
inning               int64
batting_team        object
bowling_team        object
over                 int64
ball                 int64
batsman             object
non_striker         object
bowler              object
is_super_over        int64
wide_runs            int64
bye_runs             int64
legbye_runs          int64
noball_runs          int64
penalty_runs         int64
batsman_runs         int64
extra_runs           int64
total_runs           int64
player_dismissed    object
dismissal_kind      object
fielder             object
dtype: object

In [143]:
#Printing ktype of data frame
type(df)

pandas.core.frame.DataFrame

In [12]:
#List all column names 
df.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [144]:
#Read the dataset into a DataFrame
df1 = pd.read_csv('IPLData.csv')

In [145]:
#Printing the Dataset 
df1

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150455,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150456,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,0,0,0,CJ Jordan,run out,NV Ojha
150457,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
150458,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,5,Sachin Baby,Iqbal Abdulla,B Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150459,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [147]:
# Save the DataFrame `df1` to a CSV file named 'result.csv' in the current directory
df1.to_csv("result.csv")

In [148]:
#Data frame to csv setting index and header as false
df1.to_csv("result.csv",index=False,header=False)

In [149]:
#Separating the commas by hashtag
df1.to_csv("result2.csv",index=False,header=False,sep = "#")

In [150]:
#Creating the result4.csv file only with batting team and bowling team column 
df1.to_csv("result4.csv",columns=['batting_team','bowling_team'])

In [151]:
#only printing colums values of batting_team
df1['batting_team']

0                 Sunrisers Hyderabad
1                 Sunrisers Hyderabad
2                 Sunrisers Hyderabad
3                 Sunrisers Hyderabad
4                 Sunrisers Hyderabad
                     ...
150455    Royal Challengers Bangalore
150456    Royal Challengers Bangalore
150457    Royal Challengers Bangalore
150458    Royal Challengers Bangalore
150459    Royal Challengers Bangalore
Name: batting_team, Length: 150460, dtype: object

In [152]:
# This prints the type of a single column (Series) — returns <class 'pandas.core.series.Series'>
type(df1['batting_team'])

pandas.core.series.Series

you have only one record in a Series, but you're treating it like it has many values, like a list."

In [153]:
# This prints the type of a column wrapped in double brackets — returns <class 'pandas.core.frame.DataFrame'>
type(df1[['batting_team']])

pandas.core.frame.DataFrame

In [154]:
# Select and display specific columns
df1[['match_id','inning','batting_team','bowling_team']]

,match_id,inning,batting_team,bowling_team
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore
...,...,...,...,...
150455,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad
150456,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad
150457,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad
150458,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad
150459,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad

New Dataset

In [155]:
# Read all HTML tables from the given Basketball Reference player page into a list of DataFrames
df4 = pd.read_html("https://www.basketball-reference.com/players/i/ibakase01.html?utm_source=direct&utm_medium=Share&utm_campaign=ShareTool")

In [156]:
# Check and print the data type of df4 
type(df4)

list

In [157]:
# Print the number of rows (length) in the dataset df1
len(df4)

11

In [158]:
# Display the first HTML table (as a DataFrame) from the list of tables stored in df4
df4[0]

,Season,Age,Team,Lg,Pos,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards
0,2008-09,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,...,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league
1,2009-10,20,OKC,NBA,PF,73,0,18.1,2.8,5.1,...,1.9,3.5,5.4,0.1,0.3,1.3,0.9,2.7,6.3,NaN
2,2010-11,21,OKC,NBA,PF,82,44,27.0,4.1,7.5,...,2.6,5.0,7.6,0.3,0.4,2.4,0.9,3.3,9.9,DPOY-14
3,2011-12,22,OKC,NBA,PF,66,66,27.2,4.0,7.4,...,2.9,4.6,7.5,0.4,0.5,3.7,1.2,2.7,9.1,"DPOY-2,DEF1"
4,2012-13,23,OKC,NBA,PF,80,80,31.1,5.6,9.7,...,2.8,4.9,7.7,0.5,0.4,3.0,1.6,2.7,13.2,"DPOY-3,DEF1"
5,2013-14,24,OKC,NBA,PF,81,81,32.9,6.5,12.1,...,2.8,6.0,8.8,1.0,0.5,2.7,1.5,2.9,15.1,"DPOY-4,DEF1"
6,2014-15,25,OKC,NBA,PF,64,64,33.1,5.8,12.3,...,2.1,5.7,7.8,0.9,0.5,2.4,1.5,3.0,14.3,NaN
7,2015-16,26,OKC,NBA,PF,78,78,32.1,5.3,11.1,...,1.8,5.0,6.8,0.8,0.5,1.9,1.4,2.7,12.6,NaN
8,2016-17,27,2TM,NBA,PF,79,79,30.7,6.0,12.4,...,1.6,5.2,6.8,0.9,0.5,1.6,1.3,2.7,14.8,NaN
9,2016-17,27,ORL,NBA,PF,56,56,30.5,6.1,12.6,...,1.8,5.0,6.8,1.1,0.6,1.6,1.2,2.5,15.1,NaN
10,2016-17,27,TOR,NBA,PF,23,23,31.0,5.6,12.1,...,1.3,5.5,6.8,0.7,0.3,1.4,1.7,3.3,14.2,NaN
11,2017-18,28,TOR,NBA,PF,76,76,27.5,5.0,10.3,...,1.0,5.3,6.3,0.8,0.4,1.3,1.2,2.8,12.6,NaN
12,2018-19,29,TOR,NBA,C,74,51,27.2,6.3,11.9,...,2.1,6.0,8.1,1.3,0.4,1.4,1.5,2.9,15.0,NaN
13,2019-20,30,TOR,NBA,C,55,27,27.0,6.2,12.2,...,2.1,6.1,8.2,1.4,0.5,0.8,2.0,2.8,15.4,NaN
14,2020-21,31,LAC,NBA,C,41,39,23.3,4.5,8.9,...,1.8,4.9,6.7,1.8,0.2,1.1,1.1,1.9,11.1,NaN
15,2021-22,32,2TM,NBA,C,54,12,16.2,2.7,5.5,...,1.1,3.5,4.6,0.9,0.2,0.6,0.8,1.9,6.8,NaN
16,2021-22,32,LAC,NBA,C,35,10,15.4,2.7,5.5,...,1.1,3.1,4.3,1.0,0.2,0.7,0.9,1.6,6.6,NaN
17,2021-22,32,MIL,NBA,C,19,2,17.8,2.8,5.5,...,1.2,4.1,5.3,0.7,0.2,0.4,0.5,2.4,7.0,NaN
18,2022-23,33,MIL,NBA,C,16,0,11.6,1.6,3.4,...,0.9,1.8,2.8,0.3,0.1,0.4,0.7,1.4,4.1,NaN
19,2023-24,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,...,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league
20,NaN,NaN,NaN,NaN,Pos,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards
21,14 Yrs,14 Yrs,14 Yrs,14 Yrs,NaN,919,697,27.3,5.0,9.7,...,2.1,5.0,7.1,0.8,0.4,1.9,1.3,2.7,12.0,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,OKC (7 Yrs),OKC (7 Yrs),OKC (7 Yrs),OKC (7 Yrs),NaN,524,413,28.8,4.9,9.3,...,2.4,5.0,7.4,0.6,0.4,2.5,1.3,2.8,11.6,NaN
24,TOR (4 Yrs),TOR (4 Yrs),TOR (4 Yrs),TOR (4 Yrs),NaN,228,177,27.6,5.8,11.4,...,1.7,5.7,7.4,1.1,0.4,1.2,1.5,2.8,14.2,NaN
25,LAC (2 Yrs),LAC (2 Yrs),LAC (2 Yrs),LAC (2 Yrs),NaN,76,49,19.6,3.7,7.3,...,1.5,4.1,5.6,1.4,0.2,1.0,1.0,1.7,9.0,NaN
26,MIL (2 Yrs),MIL (2 Yrs),MIL (2 Yrs),MIL (2 Yrs),NaN,35,2,15.0,2.3,4.5,...,1.1,3.1,4.1,0.5,0.2,0.4,0.6,2.0,5.7,NaN
27,ORL (1 Yr),ORL (1 Yr),ORL (1 Yr),ORL (1 Yr),NaN,56,56,30.5,6.1,12.6,...,1.8,5.0,6.8,1.1,0.6,1.6,1.2,2.5,15.1,NaN

In [159]:
# Save the fourth HTML table (index 3) from df4 to a CSV file named 'players_data.csv'
df4[3].to_csv("players_data.csv")

In [160]:
# Read all HTML tables from the specified Basketball Reference player page into a list of DataFrames and store it in df9
df9=pd.read_html('''https://www.basketball-reference.com/players/i/ibakase01.html?utm_source=direct&utm_medium=Share&utm_campaign=ShareTool
''')

In [161]:
# Display the first HTML table (index 0) from the list of DataFrames stored in df9
df9[0]

,Season,Age,Team,Lg,Pos,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards
0,2008-09,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,...,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league
1,2009-10,20,OKC,NBA,PF,73,0,18.1,2.8,5.1,...,1.9,3.5,5.4,0.1,0.3,1.3,0.9,2.7,6.3,NaN
2,2010-11,21,OKC,NBA,PF,82,44,27.0,4.1,7.5,...,2.6,5.0,7.6,0.3,0.4,2.4,0.9,3.3,9.9,DPOY-14
3,2011-12,22,OKC,NBA,PF,66,66,27.2,4.0,7.4,...,2.9,4.6,7.5,0.4,0.5,3.7,1.2,2.7,9.1,"DPOY-2,DEF1"
4,2012-13,23,OKC,NBA,PF,80,80,31.1,5.6,9.7,...,2.8,4.9,7.7,0.5,0.4,3.0,1.6,2.7,13.2,"DPOY-3,DEF1"
5,2013-14,24,OKC,NBA,PF,81,81,32.9,6.5,12.1,...,2.8,6.0,8.8,1.0,0.5,2.7,1.5,2.9,15.1,"DPOY-4,DEF1"
6,2014-15,25,OKC,NBA,PF,64,64,33.1,5.8,12.3,...,2.1,5.7,7.8,0.9,0.5,2.4,1.5,3.0,14.3,NaN
7,2015-16,26,OKC,NBA,PF,78,78,32.1,5.3,11.1,...,1.8,5.0,6.8,0.8,0.5,1.9,1.4,2.7,12.6,NaN
8,2016-17,27,2TM,NBA,PF,79,79,30.7,6.0,12.4,...,1.6,5.2,6.8,0.9,0.5,1.6,1.3,2.7,14.8,NaN
9,2016-17,27,ORL,NBA,PF,56,56,30.5,6.1,12.6,...,1.8,5.0,6.8,1.1,0.6,1.6,1.2,2.5,15.1,NaN
10,2016-17,27,TOR,NBA,PF,23,23,31.0,5.6,12.1,...,1.3,5.5,6.8,0.7,0.3,1.4,1.7,3.3,14.2,NaN
11,2017-18,28,TOR,NBA,PF,76,76,27.5,5.0,10.3,...,1.0,5.3,6.3,0.8,0.4,1.3,1.2,2.8,12.6,NaN
12,2018-19,29,TOR,NBA,C,74,51,27.2,6.3,11.9,...,2.1,6.0,8.1,1.3,0.4,1.4,1.5,2.9,15.0,NaN
13,2019-20,30,TOR,NBA,C,55,27,27.0,6.2,12.2,...,2.1,6.1,8.2,1.4,0.5,0.8,2.0,2.8,15.4,NaN
14,2020-21,31,LAC,NBA,C,41,39,23.3,4.5,8.9,...,1.8,4.9,6.7,1.8,0.2,1.1,1.1,1.9,11.1,NaN
15,2021-22,32,2TM,NBA,C,54,12,16.2,2.7,5.5,...,1.1,3.5,4.6,0.9,0.2,0.6,0.8,1.9,6.8,NaN
16,2021-22,32,LAC,NBA,C,35,10,15.4,2.7,5.5,...,1.1,3.1,4.3,1.0,0.2,0.7,0.9,1.6,6.6,NaN
17,2021-22,32,MIL,NBA,C,19,2,17.8,2.8,5.5,...,1.2,4.1,5.3,0.7,0.2,0.4,0.5,2.4,7.0,NaN
18,2022-23,33,MIL,NBA,C,16,0,11.6,1.6,3.4,...,0.9,1.8,2.8,0.3,0.1,0.4,0.7,1.4,4.1,NaN
19,2023-24,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,...,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league
20,NaN,NaN,NaN,NaN,Pos,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards
21,14 Yrs,14 Yrs,14 Yrs,14 Yrs,NaN,919,697,27.3,5.0,9.7,...,2.1,5.0,7.1,0.8,0.4,1.9,1.3,2.7,12.0,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,OKC (7 Yrs),OKC (7 Yrs),OKC (7 Yrs),OKC (7 Yrs),NaN,524,413,28.8,4.9,9.3,...,2.4,5.0,7.4,0.6,0.4,2.5,1.3,2.8,11.6,NaN
24,TOR (4 Yrs),TOR (4 Yrs),TOR (4 Yrs),TOR (4 Yrs),NaN,228,177,27.6,5.8,11.4,...,1.7,5.7,7.4,1.1,0.4,1.2,1.5,2.8,14.2,NaN
25,LAC (2 Yrs),LAC (2 Yrs),LAC (2 Yrs),LAC (2 Yrs),NaN,76,49,19.6,3.7,7.3,...,1.5,4.1,5.6,1.4,0.2,1.0,1.0,1.7,9.0,NaN
26,MIL (2 Yrs),MIL (2 Yrs),MIL (2 Yrs),MIL (2 Yrs),NaN,35,2,15.0,2.3,4.5,...,1.1,3.1,4.1,0.5,0.2,0.4,0.6,2.0,5.7,NaN
27,ORL (1 Yr),ORL (1 Yr),ORL (1 Yr),ORL (1 Yr),NaN,56,56,30.5,6.1,12.6,...,1.8,5.0,6.8,1.1,0.6,1.6,1.2,2.5,15.1,NaN

In [162]:
# Read all HTML tables from the specified Basketball Reference player page into a list of DataFrames
html_data = pd.read_html("https://www.basketball-reference.com/players/i/ibakase01.html?utm_source=direct&utm_medium=Share&utm_campaign=ShareTool")
# Loop through each DataFrame in the list and save it as a separate CSV file
for i in range(len(html_data)):
        # Save the i-th table to a CSV file named 'html_data0.csv', 'html_data1.csv', etc., without including the index column
    html_data[i].to_csv(f"html_data{i}.csv", index=False)

Reading data from the github

In [163]:
# Read the dataset into a DataFrame
pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

Creating the String/ Creating own data

In [164]:
# Define a multi-line string that looks like a JSON object
s = """{
"name" :"Isha",
"phone_no" : 45454545,
"comp":["Google", "EY" , "unilver" , "verizon" , "deloitte" , "wipro"]
}
"""

Java Script Object Notation key value pair Loading the data and passing the string and printing that

In [165]:
import json

In [166]:
# Parse the JSON-formtted string `s` into a Python dictionary and store it in `s1`
s1 = json.loads(s)

In [167]:
# Display the contents of the dictionary parsed from the JSON string
s1

{'name': 'Isha',
 'phone_no': 45454545,
 'comp': ['Google', 'EY', 'unilver', 'verizon', 'deloitte', 'wipro']}

In [168]:
# Create a DataFrame using the 'comp' key from the dictionary s1 and select only the 'comp' column
pd.DataFrame(s1,columns=['comp'])

       comp
0    Google
1        EY
2   unilver
3   verizon
4  deloitte
5     wipro

In [169]:
# Convert the dictionary s1 into a DataFrame — Pandas will create columns from keys,
# and broadcast scalar values ('name' and 'phone_no') to match the length of the list under 'comp'
pd.DataFrame(s1)

   name  phone_no      comp
0  Isha  45454545    Google
1  Isha  45454545        EY
2  Isha  45454545   unilver
3  Isha  45454545   verizon
4  Isha  45454545  deloitte
5  Isha  45454545     wipro

In [170]:
# Import the requests library to handle HTTP requests
import requests

# Send a GET request to the GitHub API to retrieve open issues from the pandas repository
res = requests.get('https://api.github.com/repos/pandas-dev/pandas/issues')

# Check the response status (200 means the request was successful)
print(res)

# Parse the JSON response content into a Python object (usually a list of dictionaries)
js = res.json()

<Response [200]>

In [171]:
# Dataset available in the format of list
print(js)

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61576', 'repository_url': 'https://api.github.com/repos/pandas-dev/pandas', 'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61576/labels{/name}', 'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61576/comments', 'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61576/events', 'html_url': 'https://github.com/pandas-dev/pandas/pull/61576', 'id': 3122405296, 'node_id': 'PR_kwDOAA0YD86ZQ5dU', 'number': 61576, 'title': 'DataFrames Class update', 'user': {'login': 'SaraTammame', 'id': 116681400, 'node_id': 'U_kgDOBvRquA', 'avatar_url': 'https://avatars.githubusercontent.com/u/116681400?v=4', 'gravatar_id': '', 'url': 'https://api.github.com/users/SaraTammame', 'html_url': 'https://github.com/SaraTammame', 'followers_url': 'https://api.github.com/users/SaraTammame/followers', 'following_url': 'https://api.github.com/users/SaraTammame/following{/other_user}', 'gists_url': 'https://api.github.com/users/SaraTammame/gists{/gist_id}', 'starred_url': 'https://api.github.com/users/SaraTammame/starred{/owner}{/repo}', 'subscriptions_url': 'https://api.github.com/users/SaraTammame/subscriptions', 'organizations_url': 'https://api.github.com/users/SaraTammame/orgs', 'repos_url': 'https://api.github.com/users/SaraTammame/repos', 'events_url': 'https://api.github.com/users/SaraTammame/events{/privacy}', 'received_events_url': 'https://api.github.com/users/SaraTammame/received_events', 'type': 'User', 'user_view_type': 'public', 'site_admin': False}, 'labels': [], 'state': 'open', 'locked': False, 'assignee': None, 'assignees': [], 'milestone': None, 'comments': 0, 'created_at': '2025-06-05T19:32:17Z', 'updated_at': '2025-06-05T19:32:17Z', 'closed_at': None, 'author_association': 'NONE', 'type': None, 'active_lock_reason': None, 'draft': False, 'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/61576', 'html_url': 'https://github.com/pandas-dev/pandas/pull/61576', 'diff_url': 'https://github.com/pandas-dev/pandas/pull/61576.diff', 'patch_url': 'https://github.com/pandas-dev/pandas/pull/61576.patch', 'merged_at': None}, 'body': '- [ ] closes #xxxx (Replace xxxx with the GitHub issue number)\r\n- [ ] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [ ] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [ ] Added [type annotations](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#type-hints) to new arguments/methods/functions.\r\n- [ ] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n', 'closed_by': None, 'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61576/reactions', 'total_count': 0, '+1': 0, '-1': 0, 'laugh': 0, 'hooray': 0, 'confused': 0, 'heart': 0, 'rocket': 0, 'eyes': 0}, 'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61576/timeline', 'performed_via_github_app': None, 'state_reason': None}, {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61574', 'repository_url': 'https://api.github.com/repos/pandas-dev/pandas', 'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61574/labels{/name}', 'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61574/comments', 'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61574/events', 'html_url': 'https://github.com/pandas-dev/pandas/issues/61574', 'id': 3122363438, 'node_id': 'I_kwDOAA0YD866G3wu', 'number': 61574, 'title': "BUG: 2.3.0 didn't publish wheels for musl-aarch64 (arm)", 'user': {'login': 'virajmehta', 'id': 9244420, 'node_id': 'MDQ6VXNlcjkyNDQ0MjA=', 'avatar_url': 'https://avatars.githubusercontent.com/u/9244420?v=4', 'gravatar_id': '', 'url': 'https://api.github.com/users/virajmehta', 'html_url': 'https://github.com/virajmehta', 'followers_url': 'https://api.github.com/users/virajmehta/followers', 'following_url': 'https://api.github.com/users/virajmehta/following{/other_user}', 'gists_url': 'https://api.github.com/users/virajmehta/gists{/gist_id}', 'starred_url': 'https://api.github.com/users/virajmehta/starred{/owner}{/repo}', 'subscriptions_url': 'https://api.github.com/users/virajmehta/subscriptions', 'organizations_url': 'https://api.github.com/users/virajmehta/orgs', 'repos_url': 'https://api.github.com/users/virajmehta/repos', 'events_url': 'https://api.github.com/users/virajmehta/events{/privacy}', 'received_events_url': 'https://api.github.com/users/virajmehta/received_events', 'type': 'User', 'user_view_type': 'public', 'site_admin': False}, 'labels': [{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ==', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug', 'name': 'Bug', 'color': 'e10c02', 'default': False, 'description': None}, {'id': 1954720290, 'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage', 'name': 'Needs Triage', 'color': '0052cc', 'default': False, 'description': 'Issue that has not been reviewed by a pandas team member'}], 'state': 'open', 'locked': False, 'assignee': None, 'assignees': [], 'milestone': None, 'comments': 0, 'created_at': '2025-06-05T19:18:15Z', 'updated_at': '2025-06-05T19:18:18Z', 'closed_at': None, 'author_association': 'NONE', 'type': None, 'active_lock_reason': None, 'sub_issues_summary': {'total': 0, 'completed': 0, 'percent_completed': 0}, 'body': '### Pandas version checks\n\n- [x] I have checked that this issue has not already been reported.\n\n- [x] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.\n\n- [x] I have confirmed this bug exists on the [main branch](https://pandas.pydata.org/docs/dev/getting_started/install.html#installing-the-development-version-of-pandas) of pandas.\n\n\n### Reproducible Example\n\n```python\nhttps://pypi.org/project/pandas/2.3.0/#files\nhttps://pypi.org/project/pandas/2.2.3/#files\n```\n\n### Issue Description\n\nctrl-f for musl on the first page gives 15 results\nfor the second page gives 36 results.\nctrl on the 2.3.0 page for "-cp313-cp313-musllinux_1_2_aarch64.whl" gives no results but there are results on the 2.2.3 page.j\n\n### Expected Behavior\n\nwould like a wheel for musl / arm64\n\n### Installed Versions\n\nnot relevant', 'closed_by': None, 'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61574/reactions', 'total_count': 1, '+1': 1, '-1': 0, 'laugh': 0, 'hooray': 0, 'confused': 0, 'heart': 0, 'rocket': 0, 'eyes': 0}, 'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61574/timeline', 'performed_via_github_app': None, 'state_reason': None}, {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61573', 'repository_url': 'https://api.github.com/repos/pandas-dev/pandas', 'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61573/labels{/name}', 'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61573/comments', 'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61573/events', 'html_url': 'https://github.com/pandas-dev/pandas/issues/61573', 'id': 3122306508, 'node_id': 'I_kwDOAA0YD866Gp3M', 'number': 61573, 'title': 'WEB: Test that our versions JSON is valid', 'user': {'login': 'datapythonista', 'id': 10058240, 'node_id': 'MDQ6VXNlcjEwMDU4MjQw', 'avatar_url': 'https://avatars.githubusercontent.com/u/10058240?v=4', 'gravatar_id': '', 'url': 'https://api.github.com/users/datapythonista', 'html_url': 'https://github.com/datapythonista', 'followers_url': 'https://api.github.com/users/datapythonista/followers', 'following_url': 'https://api.github.com/users/datapythonista/following{/other_user}', 'gists_url': 'https://api.github.com/users/datapythonista/gists{/gist_id}', 'starred_url': 'https://api.github.com/users/datapythonista/starred{/owner}{/repo}', 'subscriptions_url': 'https://api.github.com/users/datapythonista/subscriptions', 'organizations_url': 'https://api.github.com/users/datapythonista/orgs', 'repos_url': 'https://api.github.com/users/datapythonista/repos', 'events_url': 'https://api.github.com/users/datapythonista/events{/privacy}', 'received_events_url': 'https://api.github.com/users/datapythonista/received_events', 'type': 'User', 'user_view_type': 'public', 'site_admin': False}, 'labels': [{'id': 717120670, 'node_id': 'MDU6TGFiZWw3MTcxMjA2NzA=', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/good%20first%20issue', 'name': 'good first issue', 'color': '0e8a16', 'default': True, 'description': None}, {'id': 1508144531, 'node_id': 'MDU6TGFiZWwxNTA4MTQ0NTMx', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Web', 'name': 'Web', 'color': '23ef97', 'default': False, 'description': 'pandas website'}], 'state': 'open', 'locked': False, 'assignee': None, 'assignees': [], 'milestone': None, 'comments': 0, 'created_at': '2025-06-05T18:59:22Z', 'updated_at': '2025-06-05T18:59:22Z', 'closed_at': None, 'author_association': 'MEMBER', 'type': None, 'active_lock_reason': None, 'sub_issues_summary': {'total': 0, 'completed': 0, 'percent_completed': 0}, 'body': 'See #61572\n\nI think this can be as simple as loading the file with `json.load` when calling `pandas_web.py`. This way, if the file is not valid JSON the CI should break. But we need to double check that `json.load` fails if an extra comma is present.', 'closed_by': None, 'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61573/reactions', 'total_count': 0, '+1': 0, '-1': 0, 'laugh': 0, 'hooray': 0, 'confused': 0, 'heart': 0, 'rocket': 0, 'eyes': 0}, 'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61573/timeline', 'performed_via_github_app': None, 'state_reason': None}, {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61570', 'repository_url': 'https://api.github.com/repos/pandas-dev/pandas', 'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61570/labels{/name}', 'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61570/comments', 'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61570/events', 'html_url': 'https://github.com/pandas-dev/pandas/issues/61570', 'id': 3122126379, 'node_id': 'I_kwDOAA0YD866F94r', 'number': 61570, 'title': 'BUG: comparing strings of different dtypes errors', 'user': {'login': 'a-reich', 'id': 73507369, 'node_id': 'MDQ6VXNlcjczNTA3MzY5', 'avatar_url': 'https://avatars.githubusercontent.com/u/73507369?v=4', 'gravatar_id': '', 'url': 'https://api.github.com/users/a-reich', 'html_url': 'https://github.com/a-reich', 'followers_url': 'https://api.github.com/users/a-reich/followers', 'following_url': 'https://api.github.com/users/a-reich/following{/other_user}', 'gists_url': 'https://api.github.com/users/a-reich/gists{/gist_id}', 'starred_url': 'https://api.github.com/users/a-reich/starred{/owner}{/repo}', 'subscriptions_url': 'https://api.github.com/users/a-reich/subscriptions', 'organizations_url': 'https://api.github.com/users/a-reich/orgs', 'repos_url': 'https://api.github.com/users/a-reich/repos', 'events_url': 'https://api.github.com/users/a-reich/events{/privacy}', 'received_events_url': 'https://api.github.com/users/a-reich/received_events', 'type': 'User', 'user_view_type': 'public', 'site_admin': False}, 'labels': [{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ==', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug', 'name': 'Bug', 'color': 'e10c02', 'default': False, 'description': None}, {'id': 1954720290, 'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage', 'name': 'Needs Triage', 'color': '0052cc', 'default': False, 'description': 'Issue that has not been reviewed by a pandas team member'}], 'state': 'open', 'locked': False, 'assignee': None, 'assignees': [], 'milestone': None, 'comments': 0, 'created_at': '2025-06-05T17:57:17Z', 'updated_at': '2025-06-05T17:57:17Z', 'closed_at': None, 'author_association': 'NONE', 'type': None, 'active_lock_reason': None, 'sub_issues_summary': {'total': 0, 'completed': 0, 'percent_completed': 0}, 'body': '### Pandas version checks\n\n- [x] I have checked that this issue has not already been reported.\n\n- [x] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.\n\n- [ ] I have confirmed this bug exists on the [main branch](https://pandas.pydata.org/docs/dev/getting_started/install.html#installing-the-development-version-of-pandas) of pandas.\n\n\n### Reproducible Example\n\n```python\nimport pandas as pd, numpy as np\narr1 = pd.array([],pd.StringDtype("pyarrow", na_value=pd.NA))\narr2 = pd.array([], pd.StringDtype("python", na_value=np.nan))\narr1 == arr2 # NotImplementedError: eq not implemented for <class \'pandas.core.arrays.string_.StringArrayNumpySemantics\'>\n```\n\n### Issue Description\n\nThis appears to be the type of issue discussed in https://github.com/pandas-dev/pandas/issues/60639. That issue was closed, but I got an error when I tried running the above reproducer on the example given in the [whatsnew](https://pandas.pydata.org/pandas-docs/version/2.3.0/whatsnew/v2.3.0.html#notable-bug-fix1) for release 2.3.\n\nMy understanding was that the issue was closed when https://github.com/pandas-dev/pandas/pull/61138 was merged to main, but it\'s unclear if the fix was successfully backported to the 2.3.x branch. I haven\'t had the time yet to try when building pandas myself from main.\n\n### Expected Behavior\n\nComparisons of string arrays/series with different dtypes should not error and the return dtype should follow the behavior laid out in #60639 .\n\n### Installed Versions\n\n<details>\n\nINSTALLED VERSIONS\n------------------\ncommit                : 2cc37625532045f4ac55b27176454bbbc9baf213\npython                : 3.12.2\npython-bits           : 64\nOS                    : Linux\nOS-release            : 6.6.87.1-microsoft-standard-WSL2\nVersion               : #1 SMP PREEMPT_DYNAMIC Mon Apr 21 17:08:54 UTC 2025\nmachine               : x86_64\nprocessor             : x86_64\nbyteorder             : little\nLC_ALL                : None\nLANG                  : C.UTF-8\nLOCALE                : C.UTF-8\n\npandas                : 2.3.0\nnumpy                 : 2.2.6\npytz                  : 2025.2\ndateutil              : 2.9.0.post0\npip                   : None\nCython                : None\nsphinx                : None\nIPython               : None\nadbc-driver-postgresql: None\nadbc-driver-sqlite    : None\nbs4                   : None\nblosc                 : None\nbottleneck            : None\ndataframe-api-compat  : None\nfastparquet           : None\nfsspec                : None\nhtml5lib              : None\nhypothesis            : None\ngcsfs                 : None\njinja2                : None\nlxml.etree            : None\nmatplotlib            : None\nnumba                 : None\nnumexpr               : None\nodfpy                 : None\nopenpyxl              : None\npandas_gbq            : None\npsycopg2              : None\npymysql               : None\npyarrow               : 20.0.0\npyreadstat            : None\npytest                : None\npython-calamine       : None\npyxlsb                : None\ns3fs                  : None\nscipy                 : None\nsqlalchemy            : None\ntables                : None\ntabulate              : None\nxarray                : None\nxlrd                  : None\nxlsxwriter            : None\nzstandard             : None\ntzdata                : 2025.2\nqtpy                  : None\npyqt5                 : None\n</details>\n', 'closed_by': None, 'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61570/reactions', 'total_count': 0, '+1': 0, '-1': 0, 'laugh': 0, 'hooray': 0, 'confused': 0, 'heart': 0, 'rocket': 0, 'eyes': 0}, 'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61570/timeline', 'performed_via_github_app': None, 'state_reason': None}, {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61569', 'repository_url': 'https://api.github.com/repos/pandas-dev/pandas', 'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61569/labels{/name}', 'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61569/comments', 'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61569/events', 'html_url': 'https://github.com/pandas-dev/pandas/pull/61569', 'id': 3122042354, 'node_id': 'PR_kwDOAA0YD86ZPoQa', 'number': 61569, 'title': 'BLD: Build wheels for 3.9', 'user': {'login': 'mroeschke', 'id': 10647082, 'node_id': 'MDQ6VXNlcjEwNjQ3MDgy', 'avatar_url': 'https://avatars.githubusercontent.com/u/10647082?v=4', 'gravatar_id': '', 'url': 'https://api.github.com/users/mroeschke', 'html_url': 'https://github.com/mroeschke', 'followers_url': 'https://api.github.com/users/mroeschke/followers', 'following_url': 'https://api.github.com/users/mroeschke/following{/other_user}', 'gists_url': 'https://api.github.com/users/mroeschke/gists{/gist_id}', 'starred_url': 'https://api.github.com/users/mroeschke/starred{/owner}{/repo}', 'subscriptions_url': 'https://api.github.com/users/mroeschke/subscriptions', 'organizations_url': 'https://api.github.com/users/mroeschke/orgs', 'repos_url': 'https://api.github.com/users/mroeschke/repos', 'events_url': 'https://api.github.com/users/mroeschke/events{/privacy}', 'received_events_url': 'https://api.github.com/users/mroeschke/received_events', 'type': 'User', 'user_view_type': 'public', 'site_admin': False}, 'labels': [{'id': 129350, 'node_id': 'MDU6TGFiZWwxMjkzNTA=', 'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Build', 'name': 'Build', 'color': '75507B', 'default': False, 'description': 'Library building on various platforms'}], 'state': 'open', 'locked': False, 'assignee': None, 'assignees': [], 'milestone': None, 'comments': 1, 'created_at': '2025-06-05T17:29:26Z', 'updated_at': '2025-06-05T18:54:07Z', 'closed_at': None, 'author_association': 'MEMBER', 'type': None, 'active_lock_reason': None, 'draft': False, 'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/61569', 'html_url': 'https://github.com/pandas-dev/pandas/pull/61569', 'diff_url': 'https://github.com/pandas-dev/pandas/pull/61569.diff', 'patch_url': 'https://github.com/pandas-dev/pandas/pull/61569.patch', 'merged_at': None}, 'body': '@lithomas1 would I need to re-tag the 2.3.x branch if/when we merge this?\r\n\r\nxref https://github.com/pandas-dev/pandas/issues/61563', 'closed_by': None, 'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61569/reactions', 'total_count': 0, '+1': 0, '-1': 0, 'laugh': 0, 'hooray': 0, 'confused': 0, 'heart': 0, 'rocket': 0, 'eyes': 0}, 'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61569/timeline', 'performed_via_github_app': None, 'state_reason': None}, {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61568', 'repository_url': 'https://api.github.com/repos/pandas-dev/pandas', 'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61568/labels{/name}', 'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61568/comments', 'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61568/events', 'html_url': 'https://github.com/pandas-dev/pandas/issues/61568', 'id': 3121700295, 'node_id': 'I_kwDOAA0YD866EV3H', 'number': 61568, 'title': 'BUG: Inconsistent behavior surrounding pd.fillna', 'user': {'login': 'anna-intellegens', 'id': 98812604, 'node_id': 'U_kgDOBePCvA', 'avatar_url': 'https://avatars.githubusercontent.com/u/98812604?v=4', 'gravatar_id': '', 'url': 'https:

Getting a First record

In [172]:
js[0]

{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61576',
 'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
 'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61576/labels{/name}',
 'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61576/comments',
 'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61576/events',
 'html_url': 'https://github.com/pandas-dev/pandas/pull/61576',
 'id': 3122405296,
 'node_id': 'PR_kwDOAA0YD86ZQ5dU',
 'number': 61576,
 'title': 'DataFrames Class update',
 'user': {'login': 'SaraTammame',
  'id': 116681400,
  'node_id': 'U_kgDOBvRquA',
  'avatar_url': 'https://avatars.githubusercontent.com/u/116681400?v=4',
  'gravatar_id': '',
  'url': 'https://api.github.com/users/SaraTammame',
  'html_url': 'https://github.com/SaraTammame',
  'followers_url': 'https://api.github.com/users/SaraTammame/followers',
  'following_url': 'https://api.github.com/users/SaraTammame/following{/other_user}',
  'gists_url': 'https://api.github.com/users/SaraTammame/gists{/gist_id}',
  'starred_url': 'https://api.github.com/users/SaraTammame/starred{/owner}{/repo}',
  'subscriptions_url': 'https://api.github.com/users/SaraTammame/subscriptions',
  'organizations_url': 'https://api.github.com/users/SaraTammame/orgs',
  'repos_url': 'https://api.github.com/users/SaraTammame/repos',
  'events_url': 'https://api.github.com/users/SaraTammame/events{/privacy}',
  'received_events_url': 'https://api.github.com/users/SaraTammame/received_events',
  'type': 'User',
  'user_view_type': 'public',
  'site_admin': False},
 'labels': [],
 'state': 'open',
 'locked': False,
 'assignee': None,
 'assignees': [],
 'milestone': None,
 'comments': 0,
 'created_at': '2025-06-05T19:32:17Z',
 'updated_at': '2025-06-05T19:32:17Z',
 'closed_at': None,
 'author_association': 'NONE',
 'type': None,
 'active_lock_reason': None,
 'draft': False,
 'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/61576',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/61576',
  'diff_url': 'https://github.com/pandas-dev/pandas/pull/61576.diff',
  'patch_url': 'https://github.com/pandas-dev/pandas/pull/61576.patch',
  'merged_at': None},
 'body': '- [ ] closes #xxxx (Replace xxxx with the GitHub issue number)\r\n- [ ] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [ ] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [ ] Added [type annotations](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#type-hints) to new arguments/methods/functions.\r\n- [ ] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n',
 'closed_by': None,
 'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61576/reactions',
  'total_count': 0,
  '+1': 0,
  '-1': 0,
  'laugh': 0,
  'hooray': 0,
  'confused': 0,
  'heart': 0,
  'rocket': 0,
  'eyes': 0},
 'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61576/timeline',
 'performed_via_github_app': None,
 'state_reason': None}

In [173]:
js[0]['url']

'https://api.github.com/repos/pandas-dev/pandas/issues/61576'

In [174]:
js[0]['title']

'DataFrames Class update'

In [175]:
#Printing All Titles
for i in range(len(js)):
    print(js[i]['title'])

DataFrames Class update
BUG: 2.3.0 didn't publish wheels for musl-aarch64 (arm)
WEB: Test that our versions JSON is valid
BUG: comparing strings of different dtypes errors
BLD: Build wheels for 3.9
BUG: Inconsistent behavior surrounding pd.fillna
BUILD: Add wheels for musllinux_aarch64
BUILD: Installation issue on Mac with M1 Pro arm64 processor. pandas_parser.cpython-311-darwin.so is using x86_64 arch
BUG: RecursionError when apply generic alias as a func
Failed to install pandas==2.3.0 with Python 3.9
BUG: regex match in compliance tests no longer match pytest expected inputs
Upgrade Python version for development environment
BUG: duplicated() raises error with singlton set as subset
DOC: Add note on inference behavior of apply with result_type='expand'
Parallelize test_sql.py - Issue #60378
DOC: Remove and Update out of date Docker Image issue with  #61511
ENH: Adding DataFrame plotting benchmarks for large datasets
DOC: Fix docs for BusinessDay constructor #52431
CI: Debug slow environment solve times
Fix Index.equals between object and string
ENH pandas-dev#60693: shift operations for Series and DataFrames
ENH: Columns formatted as "Text" in Excel are read as numbers
BUG: use of iloc with heterogeneous DataFrame sometimes performs undocumented conversions
ENH: read_csv tz option
BUG: Fix Series.str.zfill for ArrowDtype string arrays #61485
ENH: speed up `DataFrame.plot` using `LineCollection`
CI: Micromamba taking too long to resolve the environments in the CI
API: Replace na_action parameter in Series/DataFrame/Index.map by the standard skipna
raise TypeError when function returns object-like results
ENH: Implement DataFrame.select

In [176]:
# Get and display the number of issues (i.e., the number of dictionaries) in the list 'js'
len(js)

30

In [177]:
# Create a DataFrame from the list of GitHub issues (js) and extract only the 'user', 'url', and 'title' columns
pd.DataFrame(js, columns=['user', 'url', 'title'])

,user,url,title
0,"{'login': 'SaraTammame', 'id': 116681400, 'nod...",https://api.github.com/repos/pandas-dev/pandas...,DataFrames Class update
1,"{'login': 'virajmehta', 'id': 9244420, 'node_i...",https://api.github.com/repos/pandas-dev/pandas...,BUG: 2.3.0 didn't publish wheels for musl-aarc...
2,"{'login': 'datapythonista', 'id': 10058240, 'n...",https://api.github.com/repos/pandas-dev/pandas...,WEB: Test that our versions JSON is valid
3,"{'login': 'a-reich', 'id': 73507369, 'node_id'...",https://api.github.com/repos/pandas-dev/pandas...,BUG: comparing strings of different dtypes errors
4,"{'login': 'mroeschke', 'id': 10647082, 'node_i...",https://api.github.com/repos/pandas-dev/pandas...,BLD: Build wheels for 3.9
5,"{'login': 'anna-intellegens', 'id': 98812604, ...",https://api.github.com/repos/pandas-dev/pandas...,BUG: Inconsistent behavior surrounding pd.fillna
6,"{'login': 'cdce8p', 'id': 30130371, 'node_id':...",https://api.github.com/repos/pandas-dev/pandas...,BUILD: Add wheels for musllinux_aarch64
7,"{'login': 'Leviann', 'id': 2115421, 'node_id':...",https://api.github.com/repos/pandas-dev/pandas...,BUILD: Installation issue on Mac with M1 Pro a...
8,"{'login': 'MacroBull', 'id': 2204917, 'node_id...",https://api.github.com/repos/pandas-dev/pandas...,BUG: RecursionError when apply generic alias a...
9,"{'login': 'ryanchao2012', 'id': 7628311, 'node...",https://api.github.com/repos/pandas-dev/pandas...,Failed to install pandas==2.3.0 with Python 3.9
10,"{'login': 'chalmerlowe', 'id': 7291104, 'node_...",https://api.github.com/repos/pandas-dev/pandas...,BUG: regex match in compliance tests no longer...
11,"{'login': 'datapythonista', 'id': 10058240, 'n...",https://api.github.com/repos/pandas-dev/pandas...,Upgrade Python version for development environ...
12,"{'login': 'camold', 'id': 2109454, 'node_id': ...",https://api.github.com/repos/pandas-dev/pandas...,BUG: duplicated() raises error with singlton s...
13,"{'login': 'pinkgradient', 'id': 101425679, 'no...",https://api.github.com/repos/pandas-dev/pandas...,DOC: Add note on inference behavior of apply w...
14,"{'login': 'dShcherbakov1', 'id': 119084461, 'n...",https://api.github.com/repos/pandas-dev/pandas...,Parallelize test_sql.py - Issue #60378
15,"{'login': 'jacksnnn', 'id': 175151559, 'node_i...",https://api.github.com/repos/pandas-dev/pandas...,DOC: Remove and Update out of date Docker Imag...
16,"{'login': 'shadnikn', 'id': 147014887, 'node_i...",https://api.github.com/repos/pandas-dev/pandas...,ENH: Adding DataFrame plotting benchmarks for ...
17,"{'login': 'camacluc', 'id': 114314487, 'node_i...",https://api.github.com/repos/pandas-dev/pandas...,DOC: Fix docs for BusinessDay constructor #52431
18,"{'login': 'mroeschke', 'id': 10647082, 'node_i...",https://api.github.com/repos/pandas-dev/pandas...,CI: Debug slow environment solve times
19,"{'login': 'sanggon6107', 'id': 68040183, 'node...",https://api.github.com/repos/pandas-dev/pandas...,Fix Index.equals between object and string
20,"{'login': 'David-msggc', 'id': 95498196, 'node...",https://api.github.com/repos/pandas-dev/pandas...,ENH pandas-dev#60693: shift operations for Ser...
21,"{'login': 'pranay-sa', 'id': 116664160, 'node_...",https://api.github.com/repos/pandas-dev/pandas...,"ENH: Columns formatted as ""Text"" in Excel are ..."
22,"{'login': 'illbebach', 'id': 1385858, 'node_id...",https://api.github.com/repos/pandas-dev/pandas...,BUG: use of iloc with heterogeneous DataFrame ...
23,"{'login': 'hasandiwan', 'id': 44325453, 'node_...",https://api.github.com/repos/pandas-dev/pandas...,ENH: read_csv tz option
24,"{'login': 'iabhi4', 'id': 61010675, 'node_id':...",https://api.github.com/repos/pandas-dev/pandas...,BUG: Fix Series.str.zfill for ArrowDtype strin...
25,"{'login': 'Abdelgha-4', 'id': 72174073, 'node_...",https://api.github.com/repos/pandas-dev/pandas...,ENH: speed up `DataFrame.plot` using `LineColl...
26,"{'login': 'datapythonista', 'id': 10058240, 'n...",https://api.github.com/repos/pandas-dev/pandas...,CI: Micromamba taking too long to resolve the ...
27,"{'login': 'datapythonista', 'id': 10058240, 'n...",https://api.github.com/repos/pandas-dev/pandas...,API: Replace na_action parameter in Series/Dat...
28,"{'login': 'michael2015tse', 'id': 44341134, 'n...",https://api.github.com/repos/pandas-dev/pandas...,raise TypeError when function returns object-l...
29,"{'login': 'datapythonista', 'id': 10058240, 'n...",https://api.github.com/repos/pandas-dev/pandas...,ENH: Implement DataFrame.select

In [178]:
# View the first few rows of the dataset
pd.DataFrame(js).head()

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,active_lock_reason,draft,pull_request,body,closed_by,reactions,timeline_url,performed_via_github_app,state_reason,sub_issues_summary
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/61576,3122405296,PR_kwDOAA0YD86ZQ5dU,61576,DataFrames Class update,...,None,False,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the GitH...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/61574,3122363438,I_kwDOAA0YD866G3wu,61574,BUG: 2.3.0 didn't publish wheels for musl-aarc...,...,None,NaN,NaN,### Pandas version checks\n\n- [x] I have chec...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,"{'total': 0, 'completed': 0, 'percent_complete..."
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/61573,3122306508,I_kwDOAA0YD866Gp3M,61573,WEB: Test that our versions JSON is valid,...,None,NaN,NaN,See #61572\n\nI think this can be as simple as...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,"{'total': 0, 'completed': 0, 'percent_complete..."
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/61570,3122126379,I_kwDOAA0YD866F94r,61570,BUG: comparing strings of different dtypes errors,...,None,NaN,NaN,### Pandas version checks\n\n- [x] I have chec...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,"{'total': 0, 'completed': 0, 'percent_complete..."
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/61569,3122042354,PR_kwDOAA0YD86ZPoQa,61569,BLD: Build wheels for 3.9,...,None,False,{'url': 'https://api.github.com/repos/pandas-d...,@lithomas1 would I need to re-tag the 2.3.x br...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None,NaN

In [179]:
# Storing the parsed JSON data (GitHub issues) into a CSV file

# Convert the list of dictionaries `js` into a DataFrame — each key becomes a column
df4 = pd.DataFrame(js)

# Save the DataFrame to a CSV file named 'json_dump.csv'
df4.to_csv('json_dump.csv')

In [180]:
# Access the 'user' field from the first issue in the list
# The value of 'user' is itself a dictionary containing user details
js[0]['user']

{'login': 'SaraTammame',
 'id': 116681400,
 'node_id': 'U_kgDOBvRquA',
 'avatar_url': 'https://avatars.githubusercontent.com/u/116681400?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/SaraTammame',
 'html_url': 'https://github.com/SaraTammame',
 'followers_url': 'https://api.github.com/users/SaraTammame/followers',
 'following_url': 'https://api.github.com/users/SaraTammame/following{/other_user}',
 'gists_url': 'https://api.github.com/users/SaraTammame/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/SaraTammame/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/SaraTammame/subscriptions',
 'organizations_url': 'https://api.github.com/users/SaraTammame/orgs',
 'repos_url': 'https://api.github.com/users/SaraTammame/repos',
 'events_url': 'https://api.github.com/users/SaraTammame/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/SaraTammame/received_events',
 'type': 'User',
 'user_view_type': 'public',
 'site_admin': False}

In [181]:
# Load JSON data directly into a DataFrame (basic structure, may not flatten nested fields like 'user')
pd.read_json("https://api.github.com/repos/pandas-dev/pandas/issues")

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,active_lock_reason,draft,pull_request,body,closed_by,reactions,timeline_url,performed_via_github_app,state_reason,sub_issues_summary
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/61576,3122405296,PR_kwDOAA0YD86ZQ5dU,61576,DataFrames Class update,...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the GitH...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/61574,3122363438,I_kwDOAA0YD866G3wu,61574,BUG: 2.3.0 didn't publish wheels for musl-aarc...,...,NaN,NaN,NaN,### Pandas version checks\n\n- [x] I have chec...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,"{'total': 0, 'completed': 0, 'percent_complete..."
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/61573,3122306508,I_kwDOAA0YD866Gp3M,61573,WEB: Test that our versions JSON is valid,...,NaN,NaN,NaN,See #61572\n\nI think this can be as simple as...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,"{'total': 0, 'completed': 0, 'percent_complete..."
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/61570,3122126379,I_kwDOAA0YD866F94r,61570,BUG: comparing strings of different dtypes errors,...,NaN,NaN,NaN,### Pandas version checks\n\n- [x] I have chec...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,"{'total': 0, 'completed': 0, 'percent_complete..."
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/61569,3122042354,PR_kwDOAA0YD86ZPoQa,61569,BLD: Build wheels for 3.9,...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,@lithomas1 would I need to re-tag the 2.3.x br...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/61568,3121700295,I_kwDOAA0YD866EV3H,61568,BUG: Inconsistent behavior surrounding pd.fillna,...,NaN,NaN,NaN,### Pandas version checks\n\n- [x] I have chec...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,"{'total': 0, 'completed': 0, 'percent_complete..."
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/61567,3121077669,PR_kwDOAA0YD86ZMg54,61567,BUILD: Add wheels for musllinux_aarch64,...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,It seems the `musllinux_aarch64` wheels got ac...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/61566,3120672132,I_kwDOAA0YD866Aa2E,61566,BUILD: Installation issue on Mac with M1 Pro a...,...,NaN,NaN,NaN,### Installation check\n\n- [x] I have read th...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,"{'total': 0, 'completed': 0, 'percent_complete..."
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/61565,3120501218,I_kwDOAA0YD865_xHi,61565,BUG: RecursionError when apply generic alias a...,...,NaN,NaN,NaN,### Pandas version checks\n\n- [x] I have chec...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,"{'total': 0, 'completed': 0, 'percent_complete..."
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/61563,3119772338,I_kwDOAA0YD8658_Ky,61563,Failed to install pandas==2.3.0 with Python 3.9,...,NaN,NaN,NaN,### Installation check\n\n- [x] I have read th...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,"{'total': 0, 'completed': 0, 'percent_complete..."
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/61557,3118522709,I_kwDOAA0YD8654OFV,61557,BUG: regex match in compliance tests no longer...,...,NaN,NaN,NaN,### Pandas version checks\n\n- [x] I have chec...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,"{'total': 0, 'completed': 0, 'percent_complete..."
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/61555,3117071656,PR_kwDOAA0YD86Y-985,61555,Upgrade Python version for development environ...,...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,I guess the only reason we require Python 3.10...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/61554,3117048901,I_kwDOAA0YD865ymRF,61554,BUG: duplicated() raises error with singlton s...,...,NaN,NaN,NaN,### Pandas version checks\n\n- [x] I have chec...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,"{'total': 0, 'completed': 0, 'percent_complete..."
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/61552,3116474516,PR_kwDOAA0YD86Y9COH,61552,DOC: Add note on inference behavior of apply w...,...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,Closes #61057\r\n\r\n- This PR adds a docstrin...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/61551,3116401342,PR_kwDOAA0YD86Y80iP,61551,Parallelize test_sql.py - Issue #60378,...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] Closes #60378\r\n- [ ] Builds off of htt...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/61550,3116382404,PR_kwDOAA0YD86Y8ynF,61550,DOC: Remove and Update out of date Docker Imag...,...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] Addresses & closes [DOC: Docker image pr...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/61546,3115813278,PR_kwDOAA0YD86Y69PY,61546,ENH: Adding DataFrame plotting benchmarks for ...,...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] related to #61532 - Adding in performan...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/61543,3115248818,PR_kwDOAA0YD86Y5Ety,61543,DOC: Fix docs for BusinessDay constructor #52431,...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,fix constructor for offset BusinessDay\r\n\r\n...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/61542,3114631618,PR_kwDOAA0YD86Y2-S4,61542,CI: Debug slow environment solve times,...,NaN,1.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the GitH...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/61541,3114329620,PR_kwDOAA0YD86Y1-gs,61541,Fix Index.equals between object and string,...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [X] closes #61099 \r\n- [X] [Tests added and...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/61540,3113693938,PR_kwDOAA0YD86Yzzcs,61540,ENH pandas-dev#60693: shift operations for Ser...,...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,This commit introduces the rshift and lshift m...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/61539,3113587665,I_kwDOAA0YD865lZPR,61539,"ENH: Columns formatted as ""Text"" in Excel are ...",...,NaN,NaN,NaN,### Feature Type\n\n- [x] Adding new functiona...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,"{'total': 0, 'completed': 0, 'percent_complete..."
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/61537,3111287144,I_kwDOAA0YD865cnlo,61537,BUG: use of iloc with heterogeneous DataFrame ...,...,NaN,NaN,NaN,### Pandas version checks\n\n- [x] I have chec...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,"{'total': 0, 'completed': 0, 'percent_complete..."
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/61535,3108703108,I_kwDOAA0YD865SwuE,61535,ENH: read_csv tz option,...,NaN,NaN,NaN,### Feature Type\n\n- [x] Adding new functiona...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,"{'total': 0, 'completed': 0, 'percent_complete..."
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/61533,3107929504,PR_kwDOAA0YD86YgpaA,61533,BUG: Fix Series.str.zfill for ArrowDtype strin...,...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,Implemented `_str_zfill` for `ArrowExtensionAr...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/61532,3107872632,I_kwDOAA0YD865Pl94,61532,ENH: speed up `DataFrame.plot` using `LineColl...,...,NaN,NaN,NaN,**Description:**\n\nWhen plotting line charts ...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,"{'total': 0, 'completed': 0, 'percent_complete..."
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/61531,3107305231,I_kwDOAA0YD865NbcP,61531,CI: Micromamba taking too long to resolve the ...,...,NaN,NaN,NaN,Our CI jobs are frequently failing now as they...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,"{'total': 0, 'completed': 0, 'percent_complete..."
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/61530,3107129953,PR_kwDOAA0YD86YePF9,61530,API: Replace na_action parameter in Series/Dat...,...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [X] xref #61128\r\n- [X] [Tests added and pa...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/61529,3106434267,I_kwDOAA0YD865KGzb,61529,raise TypeError when function returns object-l...,...,NaN,NaN,NaN,This roll_apply raises `TypeError: must be rea...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,"{'total': 0, 'completed': 0, 'percent_complete..."
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/61527,3105461098,PR_kwDOAA0YD86YZGj2,61527,ENH: Implement DataFrame.select,...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [X] closes #61522\r\n- [X] [Tests added and ...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN

In [182]:
# Extracting the 'user' field from each issue and converting it into a DataFrame

import requests

# Send GET request to the GitHub API
res = requests.get('https://api.github.com/repos/pandas-dev/pandas/issues')

# Parse JSON response into Python list of dictionaries
js = res.json()

# Create a list to store user info from each issue
user_list = []

# Loop through each issue and extract the nested 'user' dictionary
for i in range(len(js)):
    user_list.append(js[i]['user'])

# Convert the list of user dictionaries into a DataFrame
pd.DataFrame(user_list)

,login,id,node_id,avatar_url,gravatar_id,url,html_url,followers_url,following_url,gists_url,starred_url,subscriptions_url,organizations_url,repos_url,events_url,received_events_url,type,user_view_type,site_admin
0,SaraTammame,116681400,U_kgDOBvRquA,https://avatars.githubusercontent.com/u/116681...,,https://api.github.com/users/SaraTammame,https://github.com/SaraTammame,https://api.github.com/users/SaraTammame/follo...,https://api.github.com/users/SaraTammame/follo...,https://api.github.com/users/SaraTammame/gists...,https://api.github.com/users/SaraTammame/starr...,https://api.github.com/users/SaraTammame/subsc...,https://api.github.com/users/SaraTammame/orgs,https://api.github.com/users/SaraTammame/repos,https://api.github.com/users/SaraTammame/event...,https://api.github.com/users/SaraTammame/recei...,User,public,False
1,virajmehta,9244420,MDQ6VXNlcjkyNDQ0MjA=,https://avatars.githubusercontent.com/u/924442...,,https://api.github.com/users/virajmehta,https://github.com/virajmehta,https://api.github.com/users/virajmehta/followers,https://api.github.com/users/virajmehta/follow...,https://api.github.com/users/virajmehta/gists{...,https://api.github.com/users/virajmehta/starre...,https://api.github.com/users/virajmehta/subscr...,https://api.github.com/users/virajmehta/orgs,https://api.github.com/users/virajmehta/repos,https://api.github.com/users/virajmehta/events...,https://api.github.com/users/virajmehta/receiv...,User,public,False
2,datapythonista,10058240,MDQ6VXNlcjEwMDU4MjQw,https://avatars.githubusercontent.com/u/100582...,,https://api.github.com/users/datapythonista,https://github.com/datapythonista,https://api.github.com/users/datapythonista/fo...,https://api.github.com/users/datapythonista/fo...,https://api.github.com/users/datapythonista/gi...,https://api.github.com/users/datapythonista/st...,https://api.github.com/users/datapythonista/su...,https://api.github.com/users/datapythonista/orgs,https://api.github.com/users/datapythonista/repos,https://api.github.com/users/datapythonista/ev...,https://api.github.com/users/datapythonista/re...,User,public,False
3,a-reich,73507369,MDQ6VXNlcjczNTA3MzY5,https://avatars.githubusercontent.com/u/735073...,,https://api.github.com/users/a-reich,https://github.com/a-reich,https://api.github.com/users/a-reich/followers,https://api.github.com/users/a-reich/following...,https://api.github.com/users/a-reich/gists{/gi...,https://api.github.com/users/a-reich/starred{/...,https://api.github.com/users/a-reich/subscript...,https://api.github.com/users/a-reich/orgs,https://api.github.com/users/a-reich/repos,https://api.github.com/users/a-reich/events{/p...,https://api.github.com/users/a-reich/received_...,User,public,False
4,mroeschke,10647082,MDQ6VXNlcjEwNjQ3MDgy,https://avatars.githubusercontent.com/u/106470...,,https://api.github.com/users/mroeschke,https://github.com/mroeschke,https://api.github.com/users/mroeschke/followers,https://api.github.com/users/mroeschke/followi...,https://api.github.com/users/mroeschke/gists{/...,https://api.github.com/users/mroeschke/starred...,https://api.github.com/users/mroeschke/subscri...,https://api.github.com/users/mroeschke/orgs,https://api.github.com/users/mroeschke/repos,https://api.github.com/users/mroeschke/events{...,https://api.github.com/users/mroeschke/receive...,User,public,False
5,anna-intellegens,98812604,U_kgDOBePCvA,https://avatars.githubusercontent.com/u/988126...,,https://api.github.com/users/anna-intellegens,https://github.com/anna-intellegens,https://api.github.com/users/anna-intellegens/...,https://api.github.com/users/anna-intellegens/...,https://api.github.com/users/anna-intellegens/...,https://api.github.com/users/anna-intellegens/...,https://api.github.com/users/anna-intellegens/...,https://api.github.com/users/anna-intellegens/...,https://api.github.com/users/anna-intellegens/...,https://api.github.com/users/anna-intellegens/...,https://api.github.com/users/anna-intellegens/...,User,public,False
6,cdce8p,30130371,MDQ6VXNlcjMwMTMwMzcx,https://avatars.githubusercontent.com/u/301303...,,https://api.github.com/users/cdce8p,https://github.com/cdce8p,https://api.github.com/users/cdce8p/followers,https://api.github.com/users/cdce8p/following{...,https://api.github.com/users/cdce8p/gists{/gis...,https://api.github.com/users/cdce8p/starred{/o...,https://api.github.com/users/cdce8p/subscriptions,https://api.github.com/users/cdce8p/orgs,https://api.github.com/users/cdce8p/repos,https://api.github.com/users/cdce8p/events{/pr...,https://api.github.com/users/cdce8p/received_e...,User,public,False
7,Leviann,2115421,MDQ6VXNlcjIxMTU0MjE=,https://avatars.githubusercontent.com/u/211542...,,https://api.github.com/users/Leviann,https://github.com/Leviann,https://api.github.com/users/Leviann/followers,https://api.github.com/users/Leviann/following...,https://api.github.com/users/Leviann/gists{/gi...,https://api.github.com/users/Leviann/starred{/...,https://api.github.com/users/Leviann/subscript...,https://api.github.com/users/Leviann/orgs,https://api.github.com/users/Leviann/repos,https://api.github.com/users/Leviann/events{/p...,https://api.github.com/users/Leviann/received_...,User,public,False
8,MacroBull,2204917,MDQ6VXNlcjIyMDQ5MTc=,https://avatars.githubusercontent.com/u/220491...,,https://api.github.com/users/MacroBull,https://github.com/MacroBull,https://api.github.com/users/MacroBull/followers,https://api.github.com/users/MacroBull/followi...,https://api.github.com/users/MacroBull/gists{/...,https://api.github.com/users/MacroBull/starred...,https://api.github.com/users/MacroBull/subscri...,https://api.github.com/users/MacroBull/orgs,https://api.github.com/users/MacroBull/repos,https://api.github.com/users/MacroBull/events{...,https://api.github.com/users/MacroBull/receive...,User,public,False
9,ryanchao2012,7628311,MDQ6VXNlcjc2MjgzMTE=,https://avatars.githubusercontent.com/u/762831...,,https://api.github.com/users/ryanchao2012,https://github.com/ryanchao2012,https://api.github.com/users/ryanchao2012/foll...,https://api.github.com/users/ryanchao2012/foll...,https://api.github.com/users/ryanchao2012/gist...,https://api.github.com/users/ryanchao2012/star...,https://api.github.com/users/ryanchao2012/subs...,https://api.github.com/users/ryanchao2012/orgs,https://api.github.com/users/ryanchao2012/repos,https://api.github.com/users/ryanchao2012/even...,https://api.github.com/users/ryanchao2012/rece...,User,public,False
10,chalmerlowe,7291104,MDQ6VXNlcjcyOTExMDQ=,https://avatars.githubusercontent.com/u/729110...,,https://api.github.com/users/chalmerlowe,https://github.com/chalmerlowe,https://api.github.com/users/chalmerlowe/follo...,https://api.github.com/users/chalmerlowe/follo...,https://api.github.com/users/chalmerlowe/gists...,https://api.github.com/users/chalmerlowe/starr...,https://api.github.com/users/chalmerlowe/subsc...,https://api.github.com/users/chalmerlowe/orgs,https://api.github.com/users/chalmerlowe/repos,https://api.github.com/users/chalmerlowe/event...,https://api.github.com/users/chalmerlowe/recei...,User,public,False
11,datapythonista,10058240,MDQ6VXNlcjEwMDU4MjQw,https://avatars.githubusercontent.com/u/100582...,,https://api.github.com/users/datapythonista,https://github.com/datapythonista,https://api.github.com/users/datapythonista/fo...,https://api.github.com/users/datapythonista/fo...,https://api.github.com/users/datapythonista/gi...,https://api.github.com/users/datapythonista/st...,https://api.github.com/users/datapythonista/su...,https://api.github.com/users/datapythonista/orgs,https://api.github.com/users/datapythonista/repos,https://api.github.com/users/datapythonista/ev...,https://api.github.com/users/datapythonista/re...,User,public,False
12,camold,2109454,MDQ6VXNlcjIxMDk0NTQ=,https://avatars.githubusercontent.com/u/210945...,,https://api.github.com/users/camold,https://github.com/camold,https://api.github.com/users/camold/followers,https://api.github.com/users/camold/following{...,https://api.github.com/users/camold/gists{/gis...,https://api.github.com/users/camold/starred{/o...,https://api.github.com/users/camold/subscriptions,https://api.github.com/users/camold/orgs,https://api.github.com/users/camold/repos,https://api.github.com/users/camold/events{/pr...,https://api.github.com/users/camold/received_e...,User,public,False
13,pinkgradient,101425679,U_kgDOBguiDw,https://avatars.githubusercontent.com/u/101425...,,https://api.github.com/users/pinkgradient,https://github.com/pinkgradient,https://api.github.com/users/pinkgradient/foll...,https://api.github.com/users/pinkgradient/foll...,https://api.github.com/users/pinkgradient/gist...,https://api.github.com/users/pinkgradient/star...,https://api.github.com/users/pinkgradient/subs...,https://api.github.com/users/pinkgradient/orgs,https://api.github.com/users/pinkgradient/repos,https://api.github.com/users/pinkgradient/even...,https://api.github.com/users/pinkgradient/rece...,User,public,False
14,dShcherbakov1,119084461,U_kgDOBxkVrQ,https://avatars.githubusercontent.com/u/119084...,,https://api.github.com/users/dShcherbakov1,https://github.com/dShcherbakov1,https://api.github.com/users/dShcherbakov1/fol...,https://api.github.com/users/dShcherbakov1/fol...,https://api.github.com/users/dShcherbakov1/gis...,https://api.github.com/users/dShcherbakov1/sta...,https://api.github.com/users/dShcherbakov1/sub...,https://api.github.com/users/dShcherbakov1/orgs,https://api.github.com/users/dShcherbakov1/repos,https://api.github.com/users/dShcherbakov1/eve...,https://api.github.com/users/dShcherbakov1/rec...,User,public,False
15,jacksnnn,175151559,U_kgDOCnCZxw,https://avatars.githubusercontent.com/u/175151...,,https://api.github.com/users/jacksnnn,https://github.com/jacksnnn,https://api.github.com/users/jacksnnn/followers,https://api.github.com/users/jacksnnn/followin...,https://api.github.com/users/jacksnnn/gists{/g...,https://api.github.com/users/jacksnnn/starred{...,https://api.github.com/users/jacksnnn/subscrip...,https://api.github.com/users/jacksnnn/orgs,https://api.github.com/users/jacksnnn/repos,https://api.github.com/users/jacksnnn/events{/...,https://api.github.com/users/jacksnnn/received...,User,public,False
16,shadnikn,147014887,U_kgDOCMNE5w,https://avatars.githubusercontent.com/u/147014...,,https://api.github.com/users/shadnikn,https://github.com/shadnikn,https://api.github.com/users/shadnikn/followers,https://api.github.com/users/shadnikn/followin...,https://api.github.com/users/shadnikn/gists{/g...,https://api.github.com/users/shadnikn/starred{...,https://api.github.com/users/shadnikn/subscrip...,https://api.github.com/users/shadnikn/orgs,https://api.github.com/users/shadnikn/repos,https://api.github.com/users/shadnikn/events{/...,https://api.github.com/users/shadnikn/received...,User,public,False
17,camacluc,114314487,U_kgDOBtBM9w,https://avatars.githubusercontent.com/u/114314...,,https://api.github.com/users/camacluc,https://github.com/camacluc,https://api.github.com/users/camacluc/followers,https://api.github.com/users/camacluc/followin...,https://api.github.com/users/camacluc/gists{/g...,https://api.github.com/users/camacluc/starred{...,https://api.github.com/users/camacluc/subscrip...,https://api.github.com/users/camacluc/orgs,https://api.github.com/users/camacluc/repos,https://api.github.com/users/camacluc/events{/...,https://api.github.com/users/camacluc/received...,User,public,False
18,mroeschke,10647082,MDQ6VXNlcjEwNjQ3MDgy,https://avatars.githubusercontent.com/u/106470...,,https://api.github.com/users/mroeschke,https://github.com/mroeschke,https://api.github.com/users/mroeschke/followers,https://api.github.com/users/mroeschke/followi...,https://api.github.com/users/mroeschke/gists{/...,https://api.github.com/users/mroeschke/starred...,https://api.github.com/users/mroeschke/subscri...,https://api.github.com/users/mroeschke/orgs,https://api.github.com/users/mroeschke/repos,https://api.github.com/users/mroeschke/events{...,https://api.github.com/users/mroeschke/receive...,User,public,False
19,sanggon6107,68040183,MDQ6VXNlcjY4MDQwMTgz,https://avatars.githubusercontent.com/u/680401...,,https://api.github.com/users/sanggon6107,https://github.com/sanggon6107,https://api.github.com/users/sanggon6107/follo...,https://api.github.com/users/sanggon6107/follo...,https://api.github.com/users/sanggon6107/gists...,https://api.github.com/users/sanggon6107/starr...,https://api.github.com/users/sanggon6107/subsc...,https://api.github.com/users/sanggon6107/orgs,https://api.github.com/users/sanggon6107/repos,https://api.github.com/users/sanggon6107/event...,https://api.github.com/users/sanggon6107/recei...,User,public,False
20,David-msggc,95498196,U_kgDOBbEv1A,https://avatars.githubusercontent.com/u/954981...,,https://api.github.com/users/David-msggc,https://github.com/David-msggc,https://api.github.com/users/David-msggc/follo...,https://api.github.com/users/David-msggc/follo...,https://api.github.com/users/David-msggc/gists...,https://api.github.com/users/David-msggc/starr...,https://api.github.com/users/David-msggc/subsc...,https://api.github.com/users/David-msggc/orgs,https://api.github.com/users/David-msggc/repos,https://api.github.com/users/David-msggc/event...,https://api.github.com/users/David-msggc/recei...,User,public,False
21,pranay-sa,116664160,U_kgDOBvQnYA,https://avatars.githubusercontent.com/u/116664...,,https://api.github.com/users/pranay-sa,https://github.com/pranay-sa,https://api.github.com/users/pranay-sa/followers,https://api.github.com/users/pranay-sa/followi...,https://api.github.com/users/pranay-sa/gists{/...,https://api.github.com/users/pranay-sa/starred...,https://api.github.com/users/pranay-sa/subscri...,https://api.github.com/users/pranay-sa/orgs,https://api.github.com/users/pranay-sa/repos,https://api.github.com/users/pranay-sa/events{...,https://api.github.com/users/pranay-sa/receive...,User,public,False
22,illbebach,1385858,MDQ6VXNlcjEzODU4NTg=,https://avatars.githubusercontent.com/u/138585...,,https://api.github.com/users/illbebach,https://github.com/illbebach,https://api.github.com/users/illbebach/followers,https://api.github.com/users/illbebach/followi...,https://api.github.com/users/illbebach/gists{/...,https://api.github.com/users/illbebach/starred...,https://api.github.com/users/illbebach/subscri...,https://api.github.com/users/illbebach/orgs,https://api.github.com/users/illbebach/repos,https://api.github.com/users/illbebach/events{...,https://api.github.com/users/illbebach/receive...,User,public,False
23,hasandiwan,44325453,MDQ6VXNlcjQ0MzI1NDUz,https://avatars.githubusercontent.com/u/443254...,,https://api.github.com/users/hasandiwan,https://github.com/hasandiwan,https://api.github.com/users/hasandiwan/followers,https://api.github.com/users/hasandiwan/follow...,https://api.github.com/users/hasandiwan/gists{...,https://api.github.com/users/hasandiwan/starre...,https://api.github.com/users/hasandiwan/subscr...,https://api.github.com/users/hasandiwan/orgs,https://api.github.com/users/hasandiwan/repos,https://api.github.com/users/hasandiwan/events...,https://api.github.com/users/hasandiwan/receiv...,User,public,False
24,iabhi4,61010675,MDQ6VXNlcjYxMDEwNjc1,https://avatars.githubusercontent.com/u/610106...,,https://api.github.com/users/iabhi4,https://github.com/iabhi4,https://api.github.com/users/iabhi4/followers,https://api.github.com/users/iabhi4/following{...,https://api.github.com/users/iabhi4/gists{/gis...,https://api.github.com/users/iabhi4/starred{/o...,https://api.github.com/users/iabhi4/subscriptions,https://api.github.com/users/iabhi4/orgs,https://api.github.com/users/iabhi4/repos,https://api.github.com/users/iabhi4/events{/pr...,https://api.github.com/users/iabhi4/received_e...,User,public,False
25,Abdelgha-4,72174073,MDQ6VXNlcjcyMTc0MDcz,https://avatars.githubusercontent.com/u/721740...,,https://api.github.com/users/Abdelgha-4,https://github.com/Abdelgha-4,https://api.github.com/users/Abdelgha-4/followers,https://api.github.com/users/Abdelgha-4/follow...,https://api.github.com/users/Abdelgha-4/gists{...,https://api.github.com/users/Abdelgha-4/starre...,https://api.github.com/users/Abdelgha-4/subscr...,https://api.github.com/users/Abdelgha-4/orgs,https://api.github.com/users/Abdelgha-4/repos,https://api.github.com/users/Abdelgha-4/events...,https://api.github.com/users/Abdelgha-4/receiv...,User,public,False
26,datapythonista,10058240,MDQ6VXNlcjEwMDU4MjQw,https://avatars.githubusercontent.com/u/100582...,,https://api.github.com/users/datapythonista,https://github.com/datapythonista,https://api.github.com/users/datapythonista/fo...,https://api.github.com/users/datapythonista/fo...,https://api.github.com/users/datapythonista/gi...,https://api.github.com/users/datapythonista/st...,https://api.github.com/users/datapythonista/su...,https://api.github.com/users/datapythonista/orgs,https://api.github.com/users/datapythonista/repos,https://api.github.com/users/datapythonista/ev...,https://api.github.com/users/datapythonista/re...,User,public,False
27,datapythonista,10058240,MDQ6VXNlcjEwMDU4MjQw,https://avatars.githubusercontent.com/u/100582...,,https://api.github.com/users/datapythonista,https://github.com/datapythonista,https://api.github.com/users/datapythonista/fo...,https://api.github.com/users/datapythonista/fo...,https://api.github.com/users/datapythonista/gi...,https://api.github.com/users/datapythonista/st...,https://api.github.com/users/datapythonista/su...,https://api.github.com/users/datapythonista/orgs,https://api.github.com/users/datapythonista/repos,https://api.github.com/users/datapythonista/ev...,https://api.github.com/users/datapythonista/re...,User,public,False
28,michael2015tse,44341134,MDQ6VXNlcjQ0MzQxMTM0,https://avatars.githubusercontent.com/u/443411...,,https://api.github.com/users/michael2015tse,https://github.com/michael2015tse,https://api.github.com/users/michael2015tse/fo...,https://api.github.com/users/michael2015tse/fo...,https://api.github.com/users/michael2015tse/gi...,https://api.github.com/users/michael2015tse/st...,https://api.github.com/users/michael2015tse/su...,https://api.github.com/users/michael2015tse/orgs,https://api.github.com/users/michael2015tse/repos,https://api.github.com/users/michael2015tse/ev...,https://api.github.com/users/michael2015tse/re...,User,public,False
29,datapythonista,10058240,MDQ6VXNlcjEwMDU4MjQw,https://avatars.githubusercontent.com/u/100582...,,https://api.github.com/users/datapythonista,https://github.com/datapythonista,https://api.github.com/users/datapythonista/fo...,https://api.github.com/users/datapythonista/fo...,https://api.github.com/users/datapythonista/gi...,https://api.github.com/users/datapythonista/st...,https://api.github.com/users/datapythonista/su...,https://api.github.com/users/datapythonista/orgs,https://api.github.com/users/datapythonista/repos,https://api.github.com/users/datapythonista/ev...,https://api.github.com/users/datapythonista/re...,User,public,False

In [183]:
user = []
res=requests.get('https://api.github.com/repos/pandas-dev/pandas/issues')
js=res.json()
user.append(js[i]['user'])
pd.DataFrame(user)

,login,id,node_id,avatar_url,gravatar_id,url,html_url,followers_url,following_url,gists_url,starred_url,subscriptions_url,organizations_url,repos_url,events_url,received_events_url,type,user_view_type,site_admin
0,datapythonista,10058240,MDQ6VXNlcjEwMDU4MjQw,https://avatars.githubusercontent.com/u/100582...,,https://api.github.com/users/datapythonista,https://github.com/datapythonista,https://api.github.com/users/datapythonista/fo...,https://api.github.com/users/datapythonista/fo...,https://api.github.com/users/datapythonista/gi...,https://api.github.com/users/datapythonista/st...,https://api.github.com/users/datapythonista/su...,https://api.github.com/users/datapythonista/orgs,https://api.github.com/users/datapythonista/repos,https://api.github.com/users/datapythonista/ev...,https://api.github.com/users/datapythonista/re...,User,public,False

In [184]:
l = []
l.append(js[i]['user'])
pd.DataFrame(l)

,login,id,node_id,avatar_url,gravatar_id,url,html_url,followers_url,following_url,gists_url,starred_url,subscriptions_url,organizations_url,repos_url,events_url,received_events_url,type,user_view_type,site_admin
0,datapythonista,10058240,MDQ6VXNlcjEwMDU4MjQw,https://avatars.githubusercontent.com/u/100582...,,https://api.github.com/users/datapythonista,https://github.com/datapythonista,https://api.github.com/users/datapythonista/fo...,https://api.github.com/users/datapythonista/fo...,https://api.github.com/users/datapythonista/gi...,https://api.github.com/users/datapythonista/st...,https://api.github.com/users/datapythonista/su...,https://api.github.com/users/datapythonista/orgs,https://api.github.com/users/datapythonista/repos,https://api.github.com/users/datapythonista/ev...,https://api.github.com/users/datapythonista/re...,User,public,False

In [185]:
json_data = pd.read_json("https://api.github.com/repos/pandas-dev/pandas/issues")
data = pd.DataFrame.from_records(json_data['user'])
#View the first few rows of the dataset
data.head()

,login,id,node_id,avatar_url,gravatar_id,url,html_url,followers_url,following_url,gists_url,starred_url,subscriptions_url,organizations_url,repos_url,events_url,received_events_url,type,user_view_type,site_admin
0,SaraTammame,116681400,U_kgDOBvRquA,https://avatars.githubusercontent.com/u/116681...,,https://api.github.com/users/SaraTammame,https://github.com/SaraTammame,https://api.github.com/users/SaraTammame/follo...,https://api.github.com/users/SaraTammame/follo...,https://api.github.com/users/SaraTammame/gists...,https://api.github.com/users/SaraTammame/starr...,https://api.github.com/users/SaraTammame/subsc...,https://api.github.com/users/SaraTammame/orgs,https://api.github.com/users/SaraTammame/repos,https://api.github.com/users/SaraTammame/event...,https://api.github.com/users/SaraTammame/recei...,User,public,False
1,virajmehta,9244420,MDQ6VXNlcjkyNDQ0MjA=,https://avatars.githubusercontent.com/u/924442...,,https://api.github.com/users/virajmehta,https://github.com/virajmehta,https://api.github.com/users/virajmehta/followers,https://api.github.com/users/virajmehta/follow...,https://api.github.com/users/virajmehta/gists{...,https://api.github.com/users/virajmehta/starre...,https://api.github.com/users/virajmehta/subscr...,https://api.github.com/users/virajmehta/orgs,https://api.github.com/users/virajmehta/repos,https://api.github.com/users/virajmehta/events...,https://api.github.com/users/virajmehta/receiv...,User,public,False
2,datapythonista,10058240,MDQ6VXNlcjEwMDU4MjQw,https://avatars.githubusercontent.com/u/100582...,,https://api.github.com/users/datapythonista,https://github.com/datapythonista,https://api.github.com/users/datapythonista/fo...,https://api.github.com/users/datapythonista/fo...,https://api.github.com/users/datapythonista/gi...,https://api.github.com/users/datapythonista/st...,https://api.github.com/users/datapythonista/su...,https://api.github.com/users/datapythonista/orgs,https://api.github.com/users/datapythonista/repos,https://api.github.com/users/datapythonista/ev...,https://api.github.com/users/datapythonista/re...,User,public,False
3,a-reich,73507369,MDQ6VXNlcjczNTA3MzY5,https://avatars.githubusercontent.com/u/735073...,,https://api.github.com/users/a-reich,https://github.com/a-reich,https://api.github.com/users/a-reich/followers,https://api.github.com/users/a-reich/following...,https://api.github.com/users/a-reich/gists{/gi...,https://api.github.com/users/a-reich/starred{/...,https://api.github.com/users/a-reich/subscript...,https://api.github.com/users/a-reich/orgs,https://api.github.com/users/a-reich/repos,https://api.github.com/users/a-reich/events{/p...,https://api.github.com/users/a-reich/received_...,User,public,False
4,mroeschke,10647082,MDQ6VXNlcjEwNjQ3MDgy,https://avatars.githubusercontent.com/u/106470...,,https://api.github.com/users/mroeschke,https://github.com/mroeschke,https://api.github.com/users/mroeschke/followers,https://api.github.com/users/mroeschke/followi...,https://api.github.com/users/mroeschke/gists{/...,https://api.github.com/users/mroeschke/starred...,https://api.github.com/users/mroeschke/subscri...,https://api.github.com/users/mroeschke/orgs,https://api.github.com/users/mroeschke/repos,https://api.github.com/users/mroeschke/events{...,https://api.github.com/users/mroeschke/receive...,User,public,False

In [186]:
#Read the dataset from a CSV file into a DataFrame
form_file = pd.read_csv("html_data1.csv")

#Serialize (save) the DataFrame into a pickle file — fast, efficient binary format
form_file.to_pickle("my_pickle")

#Check the current working directory to know where files are being saved
import os
print(os.getcwd())

#Display the DataFrame to verify contents
form_file

C:\Users\ISHA\Pandas

,Season,Age,Team,Lg,Pos,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards
0,2009-10,20,OKC,NBA,PF,6.0,0.0,25.5,3.3,5.8,...,2.2,4.3,6.5,0.3,0.3,2.0,1.0,3.2,7.8,NaN
1,2010-11,21,OKC,NBA,PF,17.0,17.0,28.8,3.9,8.5,...,2.8,4.5,7.3,0.2,0.2,3.1,1.2,3.8,9.8,NaN
2,2011-12,22,OKC,NBA,PF,20.0,20.0,28.5,4.2,8.0,...,2.4,3.4,5.8,0.6,0.6,3.0,0.6,2.9,9.8,NaN
3,2012-13,23,OKC,NBA,PF,11.0,11.0,33.3,5.4,12.3,...,3.5,4.8,8.4,0.7,0.0,3.0,0.6,3.5,12.8,NaN
4,2013-14,24,OKC,NBA,PF,17.0,17.0,34.2,5.1,8.6,...,1.8,5.0,6.8,0.7,0.6,2.5,1.2,3.2,12.1,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2015-16,26,OKC,NBA,PF,18.0,18.0,33.4,4.7,9.1,...,1.3,5.0,6.3,0.6,0.8,1.3,0.5,2.8,12.0,NaN
7,2016-17,27,TOR,NBA,PF,10.0,10.0,30.7,6.0,13.0,...,0.9,5.6,6.5,1.4,0.4,1.7,1.1,3.7,14.3,NaN
8,2017-18,28,TOR,NBA,PF,10.0,9.0,26.0,3.0,7.2,...,1.3,4.6,5.9,1.1,0.1,1.3,1.6,2.1,8.7,NaN
9,2018-19,29,TOR,NBA,C,24.0,0.0,20.8,3.8,8.0,...,1.5,4.5,6.0,0.9,0.5,1.0,1.0,3.3,9.4,NaN
10,2019-20,30,TOR,NBA,C,11.0,0.0,22.8,5.7,10.0,...,1.5,6.2,7.7,1.2,0.2,1.3,1.1,2.5,14.8,NaN
11,2020-21,31,LAC,NBA,C,2.0,0.0,9.0,1.5,3.0,...,0.5,1.5,2.0,1.0,0.5,1.5,0.5,0.5,5.0,NaN
12,2021-22,32,MIL,NBA,C,6.0,0.0,3.7,0.7,2.7,...,0.3,1.3,1.7,0.0,0.0,0.0,0.3,0.2,1.5,NaN
13,12 Yrs,12 Yrs,12 Yrs,12 Yrs,NaN,152.0,102.0,27.1,4.3,8.6,...,1.8,4.5,6.3,0.7,0.4,1.9,0.9,3.0,10.6,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,OKC (6 Yrs),OKC (6 Yrs),OKC (6 Yrs),OKC (6 Yrs),NaN,89.0,83.0,31.0,4.5,8.8,...,2.2,4.5,6.7,0.5,0.5,2.5,0.8,3.2,10.9,NaN
16,TOR (4 Yrs),TOR (4 Yrs),TOR (4 Yrs),TOR (4 Yrs),NaN,55.0,19.0,24.0,4.5,9.2,...,1.3,5.1,6.4,1.1,0.3,1.2,1.2,3.0,11.2,NaN
17,MIL (1 Yr),MIL (1 Yr),MIL (1 Yr),MIL (1 Yr),NaN,6.0,0.0,3.7,0.7,2.7,...,0.3,1.3,1.7,0.0,0.0,0.0,0.3,0.2,1.5,NaN
18,LAC (1 Yr),LAC (1 Yr),LAC (1 Yr),LAC (1 Yr),NaN,2.0,0.0,9.0,1.5,3.0,...,0.5,1.5,2.0,1.0,0.5,1.5,0.5,0.5,5.0,NaN

Reading the Titacnic Dataset

In [187]:
# Read the dataset into a DataFrame
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [188]:
# Statistical summary of numeric columns
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [189]:
# Select only the columns from DataFrame 'df' that have data type 'object' (usually strings)
# and store them in a new DataFrame 'df1'
df1 = df[df.dtypes[df.dtypes == 'object'].index]

In [190]:
# Statistical summary of numeric columns
df1.describe()

                           Name   Sex  Ticket    Cabin Embarked
count                       891   891     891      204      889
unique                      891     2     681      147        3
top     Braund, Mr. Owen Harris  male  347082  B96 B98        S
freq                          1   577       7        4      644

In [191]:
#Printing object data types which we stored in data frame1 
df1.dtypes

Name        object
Sex         object
Ticket      object
Cabin       object
Embarked    object
dtype: object

In [192]:
#Printing object data types which we stored in data frame1 
df2 = df[df.dtypes[df.dtypes == 'int64'].index]

In [193]:
df2.dtypes

PassengerId    int64
Survived       int64
Pclass         int64
SibSp          int64
Parch          int64
dtype: object

In [194]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [195]:
# Check which columns in DataFrame 'df' have the data type 'float64'
df.dtypes=='float64'

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare            True
Cabin          False
Embarked       False
dtype: bool

In [196]:
# Select and return only the columns from DataFrame 'df' that have data type 'float64'
df[df.dtypes[df.dtypes== 'float64'].index]

      Age     Fare
0    22.0   7.2500
1    38.0  71.2833
2    26.0   7.9250
3    35.0  53.1000
4    35.0   8.0500
..    ...      ...
886  27.0  13.0000
887  19.0  30.0000
888   NaN  23.4500
889  26.0  30.0000
890  32.0   7.7500

[891 rows x 2 columns]

In [197]:
#printing age and Fare column 
df[["Age","Fare"]]

      Age     Fare
0    22.0   7.2500
1    38.0  71.2833
2    26.0   7.9250
3    35.0  53.1000
4    35.0   8.0500
..    ...      ...
886  27.0  13.0000
887  19.0  30.0000
888   NaN  23.4500
889  26.0  30.0000
890  32.0   7.7500

[891 rows x 2 columns]

In [198]:
#Slice the 'Name' column from index 5 to 9 (step size of 2 — i.e., rows 5, 7, and 9)
df['Name'][5:10:2]

5                       Moran, Mr. James
7         Palsson, Master. Gosta Leonard
9    Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [199]:
# Slice the 'Name' column from index 5 to 9 (rows 5, 6, 7, 8, 9)
df['Name'][5:10]

5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [200]:
#Slice rows 5 to 15 (inclusive of 5, exclusive of 16) from the 'Ticket' column (as a DataFrame)
df[['Ticket']][5:16]

       Ticket
5      330877
6       17463
7      349909
8      347742
9      237736
10    PP 9549
11     113783
12  A/5. 2151
13     347082
14     350406
15     248706

In [201]:
# Loop through all column names in the DataFrame and print each column as a DataFrame
for i in df.columns : 
    print(df[[i]])

     PassengerId
0              1
1              2
2              3
3              4
4              5
..           ...
886          887
887          888
888          889
889          890
890          891

[891 rows x 1 columns]
     Survived
0           0
1           1
2           1
3           1
4           0
..        ...
886         0
887         1
888         0
889         1
890         0

[891 rows x 1 columns]
     Pclass
0         3
1         1
2         3
3         1
4         3
..      ...
886       2
887       1
888       3
889       1
890       3

[891 rows x 1 columns]
                                                  Name
0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
..                                                 ...
886                              Montvila, Rev. Juozas
887                       Graham, Miss. Margaret Edith
888           Johnston, Miss. Catherine Helen "Carrie"
889                              Behr, Mr. Karl Howell
890                                Dooley, Mr. Patrick

[891 rows x 1 columns]
        Sex
0      male
1    female
2    female
3    female
4      male
..      ...
886    male
887  female
888  female
889    male
890    male

[891 rows x 1 columns]
      Age
0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
..    ...
886  27.0
887  19.0
888   NaN
889  26.0
890  32.0

[891 rows x 1 columns]
     SibSp
0        1
1        1
2        0
3        1
4        0
..     ...
886      0
887      0
888      1
889      0
890      0

[891 rows x 1 columns]
     Parch
0        0
1        0
2        0
3        0
4        0
..     ...
886      0
887      0
888      2
889      0
890      0

[891 rows x 1 columns]
               Ticket
0           A/5 21171
1            PC 17599
2    STON/O2. 3101282
3              113803
4              373450
..                ...
886            211536
887            112053
888        W./C. 6607
889            111369
890            370376

[891 rows x 1 columns]
        Fare
0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
..       ...
886  13.0000
887  30.0000
888  23.4500
889  30.0000
890   7.7500

[891 rows x 1 columns]
    Cabin
0     NaN
1     C85
2     NaN
3    C123
4     NaN
..    ...
886   NaN
887   B42
888   NaN
889  C148
890   NaN

[891 rows x 1 columns]
    Embarked
0          S
1          C
2          S
3          S
4          S
..       ...
886        S
887        S
888        S
889        C
890        Q

[891 rows x 1 columns]

In [202]:
#sorting the ticekts 
sorted(df['Ticket'])

['110152',
 '110152',
 '110152',
 '110413',
 '110413',
 '110413',
 '110465',
 '110465',
 '110564',
 '110813',
 '111240',
 '111320',
 '111361',
 '111361',
 '111369',
 '111426',
 '111427',
 '111428',
 '112050',
 '112052',
 '112053',
 '112058',
 '112059',
 '112277',
 '112379',
 '113028',
 '113043',
 '113050',
 '113051',
 '113055',
 '113056',
 '113059',
 '113501',
 '113503',
 '113505',
 '113505',
 '113509',
 '113510',
 '113514',
 '113572',
 '113572',
 '113760',
 '113760',
 '113760',
 '113760',
 '113767',
 '113773',
 '113776',
 '113776',
 '113781',
 '113781',
 '113781',
 '113781',
 '113783',
 '113784',
 '113786',
 '113787',
 '113788',
 '113789',
 '113789',
 '113792',
 '113794',
 '113796',
 '113798',
 '113798',
 '113800',
 '113803',
 '113803',
 '113804',
 '113806',
 '113806',
 '113807',
 '11668',
 '11668',
 '11751',
 '11751',
 '11752',
 '11753',
 '11755',
 '11765',
 '11767',
 '11767',
 '11769',
 '11771',
 '11774',
 '11813',
 '11967',
 '11967',
 '12233',
 '12460',
 '12749',
 '12749',
 '13049',
 '13213',
 '13214',
 '13502',
 '13502',
 '13502',
 '13507',
 '13507',
 '13509',
 '13567',
 '13568',
 '14311',
 '14312',
 '14313',
 '14973',
 '1601',
 '1601',
 '1601',
 '1601',
 '1601',
 '1601',
 '1601',
 '16966',
 '16966',
 '16988',
 '17421',
 '17421',
 '17421',
 '17421',
 '17453',
 '17453',
 '17463',
 '17464',
 '17465',
 '17466',
 '17474',
 '17474',
 '17764',
 '19877',
 '19877',
 '19928',
 '19928',
 '19943',
 '19943',
 '19947',
 '19950',
 '19950',
 '19950',
 '19950',
 '19952',
 '19972',
 '19988',
 '19996',
 '19996',
 '2003',
 '211536',
 '21440',
 '218629',
 '219533',
 '220367',
 '220845',
 '220845',
 '2223',
 '223596',
 '226593',
 '226875',
 '228414',
 '229236',
 '230080',
 '230080',
 '230080',
 '230136',
 '230136',
 '230433',
 '230433',
 '230434',
 '231919',
 '231919',
 '231945',
 '233639',
 '233866',
 '234360',
 '234604',
 '234686',
 '234818',
 '236171',
 '236852',
 '236853',
 '237442',
 '237565',
 '237668',
 '237671',
 '237736',
 '237736',
 '237789',
 '237798',
 '239853',
 '239853',
 '239853',
 '239854',
 '239855',
 '239856',
 '239865',
 '239865',
 '240929',
 '24160',
 '24160',
 '24160',
 '243847',
 '243847',
 '243880',
 '244252',
 '244252',
 '244270',
 '244278',
 '244310',
 '244358',
 '244361',
 '244367',
 '244367',
 '244373',
 '248698',
 '248706',
 '248723',
 '248727',
 '248727',
 '248727',
 '248731',
 '248733',
 '248738',
 '248738',
 '248740',
 '248747',
 '250643',
 '250644',
 '250644',
 '250646',
 '250647',
 '250647',
 '250648',
 '250649',
 '250649',
 '250651',
 '250652',
 '250653',
 '250655',
 '250655',
 '2620',
 '2623',
 '2624',
 '2625',
 '2626',
 '2627',
 '2627',
 '2628',
 '2629',
 '2631',
 '26360',
 '26360',
 '2641',
 '2647',
 '2648',
 '2649',
 '2650',
 '2651',
 '2651',
 '2653',
 '2653',
 '2659',
 '2659',
 '2661',
 '2661',
 '2662',
 '2663',
 '2664',
 '2665',
 '2665',
 '2666',
 '2666',
 '2666',
 '2666',
 '2667',
 '2668',
 '2668',
 '2669',
 '26707',
 '2671',
 '2672',
 '2674',
 '2677',
 '2678',
 '2678',
 '2680',
 '2683',
 '2685',
 '2686',
 '2687',
 '2689',
 '2690',
 '2691',
 '2691',
 '2693',
 '2694',
 '2695',
 '2697',
 '2699',
 '2699',
 '2700',
 '27042',
 '27267',
 '27849',
 '28134',
 '28206',
 '28213',
 '28220',
 '28228',
 '28403',
 '28403',
 '28424',
 '28425',
 '28551',
 '28664',
 '28665',
 '29011',
 '2908',
 '2908',
 '29103',
 '29104',
 '29105',
 '29106',
 '29106',
 '29106',
 '29108',
 '2926',
 '29750',
 '29750',
 '29751',
 '3101264',
 '3101265',
 '3101267',
 '3101276',
 '3101277',
 '3101278',
 '3101278',
 '3101281',
 '3101295',
 '3101295',
 '3101295',
 '3101295',
 '3101295',
 '3101295',
 '3101296',
 '3101298',
 '31027',
 '31027',
 '31028',
 '312991',
 '312992',
 '312993',
 '31418',
 '315037',
 '315082',
 '315084',
 '315086',
 '315088',
 '315089',
 '315090',
 '315093',
 '315094',
 '315096',
 '315097',
 '315098',
 '315151',
 '315153',
 '323592',
 '323951',
 '324669',
 '330877',
 '330909',
 '330919',
 '330923',
 '330931',
 '330932',
 '330935',
 '330958',
 '330959',
 '330979',
 '330980',
 '334912',
 '335097',
 '335677',
 '33638',
 '336439',
 '3411',
 '341826',
 '34218',
 '342826',
 '343095',
 '343120',
 '343275',
 '343276',
 '345364',
 '345572',
 '345763',
 '345764',
 '345764',
 '345765',
 '345767',
 '345769',
 '345770',
 '345773',
 '345773',
 '345773',
 '345774',
 '345777',
 '345778',
 '345779',
 '345780',
 '345781',
 '345783',
 '3460',
 '347054',
 '347054',
 '347060',
 '347061',
 '347062',
 '347063',
 '347064',
 '347067',
 '347068',
 '347069',
 '347071',
 '347073',
 '347074',
 '347076',
 '347077',
 '347077',
 '347077',
 '347077',
 '347078',
 '347080',
 '347080',
 '347081',
 '347082',
 '347082',
 '347082',
 '347082',
 '347082',
 '347082',
 '347082',
 '347083',
 '347085',
 '347087',
 '347088',
 '347088',
 '347088',
 '347088',
 '347088',
 '347088',
 '347089',
 '3474',
 '347464',
 '347466',
 '347468',
 '347470',
 '347742',
 '347742',
 '347742',
 '347743',
 '348121',
 '348123',
 '348124',
 '349201',
 '349203',
 '349204',
 '349205',
 '349206',
 '349207',
 '349208',
 '349209',
 '349210',
 '349212',
 '349213',
 '349214',
 '349215',
 '349216',
 '349217',
 '349218',
 '349219',
 '349221',
 '349222',
 '349223',
 '349224',
 '349225',
 '349227',
 '349228',
 '349231',
 '349233',
 '349234',
 '349236',
 '349237',
 '349237',
 '349239',
 '349240',
 '349241',
 '349242',
 '349243',
 '349244',
 '349245',
 '349246',
 '349247',
 '349248',
 '349249',
 '349251',
 '349252',
 '349253',
 '349254',
 '349256',
 '349257',
 '349909',
 '349909',
 '349909',
 '349909',
 '349910',
 '349912',
 '350025',
 '350026',
 '350029',
 '350034',
 '350035',
 '350036',
 '350042',
 '350043',
 '350046',
 '350047',
 '350048',
 '350050',
 '350052',
 '350060',
 '350404',
 '350406',
 '350407',
 '350417',
 '35273',
 '35273',
 '35273',
 '35281',
 '35281',
 '35851',
 '35852',
 '358585',
 '358585',
 '36209',
 '362316',
 '363291',
 '363291',
 '363291',
 '363294',
 '363592',
 '364498',
 '364499',
 '364500',
 '364506',
 '364511',
 '364512',
 '364516',
 '364516',
 '364846',
 '364848',
 '364849',
 '364849',
 '364850',
 '364851',
 '365222',
 '365226',
 '36568',
 '367226',
 '367226',
 '367228',
 '367229',
 '367230',
 '367230',
 '367231',
 '367232',
 '367655',
 '368323',
 '36864',
 '36865',
 '36866',
 '368703',
 '36928',
 '36928',
 '36947',
 '36947',
 '36963',
 '36967',
 '36973',
 '36973',
 '370129',
 '370129',
 '370365',
 '370365',
 '370369',
 '370370',
 '370371',
 '370372',
 '370373',
 '370375',
 '370376',
 '370377',
 '371060',
 '371110',
 '371110',
 '371110',
 '371362',
 '372622',
 '373450',
 '374746',
 '374887',
 '374910',
 '376564',
 '376564',
 '376566',
 '382649',
 '382651',
 '382652',
 '382652',
 '382652',
 '382652',
 '382652',
 '383121',
 '384461',
 '386525',
 '392091',
 '392092',
 '392096',
 '392096',
 '394140',
 '4133',
 '4133',
 '4133',
 '4133',
 '4134',
 '4135',
 '4136',
 '4137',
 '4138',
 '4579',
 '54636',
 '54636',
 '5727',
 '65303',
 '65304',
 '65306',
 '6563',
 '693',
 '695',
 '7267',
 '7534',
 '7534',
 '7540',
 '7545',
 '7546',
 '7552',
 '7553',
 '7598',
 '8471',
 '8475',
 '9234',
 'A./5. 2152',
 'A./5. 3235',
 'A.5. 11206',
 'A.5. 18509',
 'A/4 45380',
 'A/4 48871',
 'A/4 48871',
 'A/4. 20589',
 'A/4. 34244',
 'A/4. 39886',
 'A/5 21171',
 'A/5 21172',
 'A/5 21173',
 'A/5 21174',
 'A/5 2466',
 'A/5 2817',
 'A/5 3536',
 'A/5 3540',
 'A/5 3594',
 'A/5 3902',
 'A/5. 10482',
 'A/5. 13032',
 'A/5. 2151',
 'A/5. 3336',
 'A/5. 3336',
 'A/5. 3337',
 'A/5. 851',
 'A/S 2816',
 'A4. 54510',
 'C 17369',
 'C 4001',
 'C 7075',
 'C 7076',
 'C 7077',
 'C.A. 17248',
 'C.A. 18723',
 'C.A. 2315',
 'C.A. 2315',
 'C.A. 24579',
 'C.A. 24580',
 'C.A. 2673',
 'C.A. 2673',
 'C.A. 29178',
 'C.A. 29395',
 'C.A. 29566',
 'C.A. 31026',
 'C.A. 31921',
 'C.A. 31921',
 'C.A. 31921',
 'C.A. 33111',
 'C.A. 33112',
 'C.A. 33112',
 'C.A. 33595',
 'C.A. 34260',
 'C.A. 34651',
 'C.A. 34651',
 'C.A. 34651',
 'C.A. 37671',
 'C.A. 37671',
 'C.A. 5547',
 'C.A. 6212',
 'C.A./SOTON 34068',
 'CA 2144',
 'CA 2144',
 'CA 2144',
 'CA 2144',
 'CA 2144',
 'CA 2144',
 'CA. 2314',
 'CA. 2343',
 'CA. 2343',
 'CA. 2343',
 'CA. 2343',
 'CA. 2343',
 'CA. 2343',
 'CA. 2343',
 'F.C. 12750',
 'F.C.C. 13528',
 'F.C.C. 13529',
 'F.C.C. 13529',
 'F.C.C. 13529',
 'F.C.C. 13531',
 'Fa 265302',
 'LINE',
 'LINE',
 'LINE',
 'LINE',
 'P/PP 3381',
 'P/PP 3381',
 'PC 17318',
 'PC 17473',
 'PC 17474',
 'PC 17475',
 'PC 17476',
 'PC 17477',
 'PC 17477',
 'PC 17482',
 'PC 17483',
 'PC 17485',
 'PC 17485',
 'PC 17558',
 'PC 17558',
 'PC 17569',
 'PC 17569',
 'PC 17572',
 'PC 17572',
 'PC 17572',
 'PC 17582',
 'PC 17582',
 'PC 17582',
 'PC 17585',
 'PC 17590',
 'PC 17592',
 'PC 17593',
 'PC 17593',
 'PC 17595',
 'PC 17596',
 'PC 17597',
 'PC 17599',
 'PC 17600',
 'PC 17601',
 'PC 17603',
 'PC 17604',
 'PC 17604',
 'PC 17605',
 'PC 17608',
 'PC 17608',
 'PC 17609',
 'PC 17610',
 'PC 17611',
 'PC 17611',
 'PC 17612',
 'PC 17754',
 'PC 17755',
 'PC 17755',
 'PC 17755',
 'PC 17756',
 'PC 17757',
 'PC 17757',
 'PC 17757',
 'PC 17757',
 'PC 17758',
 'PC 17758',
 'PC 17759',
 'PC 17760',
 'PC 17760',
 'PC 17760',
 'PC 17761',
 'PC 17761',
 'PP 4348',
 'PP 9549',
 'PP 9549',
 'S.C./A.4. 23567',
 'S.C./PARIS 2079',
 'S.C./PARIS 2079',
 'S.O./P.P. 3',
 'S.O./P.P. 3',
 'S.O./P.P. 751',
 'S.O.C. 14879',
 'S.O.C. 14879',
 'S.O.C. 14879',
 'S.O.C. 14879',
 'S.O.C. 14879',
 'S.O.P. 1166',
 'S.P. 3464',
 'S.W./PP 752',
 'SC 1748',
 'SC/AH 29037',
 'SC/AH 3085',
 'SC/AH Basle 541',
 'SC/PARIS 2131',
 'SC/PARIS 2133',
 'SC/PARIS 2146',
 'SC/PARIS 2149',
 'SC/PARIS 2167',
 'SC/Paris 2123',
 'SC/Paris 2123',
 'SC/Paris 2123',
 'SC/Paris 2163',
 'SCO/W 1585',
 'SO/C 14885',
 'SOTON/O.Q. 3101305',
 'SOTON/O.Q. 3101306',
 'SOTON/O.Q. 3101307',
 'SOTON/O.Q. 3101310',
 'SOTON/O.Q. 3101311',
 'SOTON/O.Q. 3101312',
 'SOTON/O.Q. 392078',
 'SOTON/O.Q. 392087',
 'SOTON/O2 3101272',
 'SOTON/O2 3101287',
 'SOTON/OQ 3101316',
 'SOTON/OQ 3101317',
 'SOTON/OQ 392076',
 'SOTON/OQ 392082',
 'SOTON/OQ 392086',
 'SOTON/OQ 392089',
 'SOTON/OQ 392090',
 'STON/O 2. 3101269',
 'STON/O 2. 3101273',
 'STON/O 2. 3101274',
 'STON/O 2. 3101275',
 'STON/O 2. 3101280',
 'STON/O 2. 3101285',
 'STON/O 2. 3101286',
 'STON/O 2. 3101288',
 'STON/O 2. 3101289',
 'STON/O 2. 3101292',
 'STON/O 2. 3101293',
 'STON/O 2. 3101294',
 'STON/O2. 3101271',
 'STON/O2. 3101279',
 'STON/O2. 3101279',
 'STON/O2. 3101282',
 'STON/O2. 3101283',
 'STON/O2. 3101290',
 'SW/PP 751',
 'W./C. 14258',
 'W./C. 14263',
 'W./C. 6607',
 'W./C. 6607',
 'W./C. 6608',
 'W./C. 6608',
 'W./C. 6608',
 'W./C. 6608',
 'W./C. 6609',
 'W.E.P. 5734',
 'W/C 14208',
 'WE/P 5735',
 'WE/P 5735']

In [218]:
# Convert the 'Sex' column into a categorical data type (useful for memory efficiency and encoding)
pd.Categorical(df['Sex'])

['male', 'female', 'female', 'female', 'male', ..., 'male', 'female', 'female', 'male', 'male']
Length: 891
Categories (2, object): ['female', 'male']

In [219]:
#Add a new column 'isha' to the DataFrame and assign a default value 'myrecord' to all rows
df['isha']="myrecord"

In [220]:
# Overwrite the 'isha' column with the values from the 'PassengerId' column
df['isha']=df['PassengerId']

In [206]:
# Convert the 'Pclass' column into a categorical data type
pd.Categorical(df['Pclass'])

[3, 1, 3, 1, 3, ..., 2, 1, 3, 1, 3]
Length: 891
Categories (3, int64): [1, 2, 3]

In [221]:
#Get unique values
df['Pclass'].unique()

array([3, 1, 2], dtype=int64)

In [222]:
# Check for missing values
df['Pclass'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Name: Pclass, Length: 891, dtype: bool

In [223]:
# Check for missing values
df['Cabin'].isnull()

0       True
1      False
2       True
3      False
4       True
       ...
886     True
887    False
888     True
889    False
890     True
Name: Cabin, Length: 891, dtype: bool

In [228]:
#Create a new column 'new_col' by adding values from 'PassengerId' and 'Age' columns
df['new_col'] = df['PassengerId']  + df['Age']

In [229]:
# Check which rows in the 'Fare' column have the maximum fare value
df['Fare']==max(df['Fare'])

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Name: Fare, Length: 891, dtype: bool

In [230]:
# Filter and display the row(s) where the 'Fare' is equal to the maximum fare value in the DataFrame
df[df['Fare']==max(df['Fare'])]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,isha,new_col
258,259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C,259,294.0
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C,680,716.0
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C,738,773.0

In [231]:
# Import NumPy for numerical operations (arrays, math functions, etc.)
import numpy as np

# Import the os module to interact with the operating system (e.g., directories, files)
import os

# Import matplotlib's pyplot module for data visualization (plots, charts, graphs)
import matplotlib.pyplot as plt

# Enable inline plotting in Jupyter Notebook (so plots appear directly below the code cells)
%matplotlib inline

In [233]:
# Read the dataset into a DataFrame
titanic_train = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [234]:
#print dataset
titanic_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [235]:
# Printing last 10 records 
titanic_train.tail(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [236]:
#Printing data types 
titanic_train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [89]:
#where the data type is object that will be true 
titanic_train.dtypes=="object"

PassengerId    False
Survived       False
Pclass         False
Name            True
Sex             True
Age            False
SibSp          False
Parch          False
Ticket          True
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [237]:
#selecting the columns with object data type 
titanic_train.dtypes[titanic_train.dtypes=="object"]

Name        object
Sex         object
Ticket      object
Cabin       object
Embarked    object
dtype: object

In [240]:
# Get the names of all columns in the DataFrame 'titanic_train' that have data type 'object' (usually strings)
titanic_train.dtypes[titanic_train.dtypes=="object"].index

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [239]:
# Get the names of all columns in 'titanic_train' that have data type 'object' (usually strings)
a = titanic_train.dtypes[titanic_train.dtypes == "object"].index
#Display the list of object-type column names
a
# Display statistical summary (count, unique, top, freq) for all object-type (categorical/text) columns
titanic_train[a].describe()

                           Name   Sex  Ticket    Cabin Embarked
count                       891   891     891      204      889
unique                      891     2     681      147        3
top     Braund, Mr. Owen Harris  male  347082  B96 B98        S
freq                          1   577       7        4      644

In [241]:
# Count of unique values
titanic_train.Sex.value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

In [242]:
# Statistical summary of numeric columns
titanic_train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [243]:
# Get the data types of columns where the dtype is 'object' (i.e., text or categorical columns)
titanic_train.dtypes[list(titanic_train.dtypes=="object")].values

array([dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O')],
      dtype=object)

In [244]:
#List all column names in the DataFrame
titanic_train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [245]:
#Select and display the 'Name', 'Sex', and 'Age' columns from the 'titanic_train' DataFrame
titanic_train[['Name','Sex','Age']]

                                                  Name     Sex   Age
0                              Braund, Mr. Owen Harris    male  22.0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
2                               Heikkinen, Miss. Laina  female  26.0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
4                             Allen, Mr. William Henry    male  35.0
..                                                 ...     ...   ...
886                              Montvila, Rev. Juozas    male  27.0
887                       Graham, Miss. Margaret Edith  female  19.0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN
889                              Behr, Mr. Karl Howell    male  26.0
890                                Dooley, Mr. Patrick    male  32.0

[891 rows x 3 columns]

In [246]:
#  Define a list of required column names (as strings) from the Titanic dataset
required_column_list = ['PassengerId', 'Survived', 'Pclass']

# Display the list
required_column_list

['PassengerId', 'Survived', 'Pclass']

In [247]:
titanic_train['Name']

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [249]:
#printing the column with name
titanic_train[['Name']]

                                                  Name
0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
..                                                 ...
886                              Montvila, Rev. Juozas
887                       Graham, Miss. Margaret Edith
888           Johnston, Miss. Catherine Helen "Carrie"
889                              Behr, Mr. Karl Howell
890                                Dooley, Mr. Patrick

[891 rows x 1 columns]

In [250]:
#Sort the 'Name' column alphabetically and select every 2nd name from index 5 to 9 (i.e., 5 and 7)
sorted(titanic_train["Name"])[5:10:2]

['Adahl, Mr. Mauritz Nils Martin',
 'Ahlin, Mrs. Johan (Johanna Persdotter Larsson)',
 'Albimona, Mr. Nassef Cassem']

In [251]:
# Sort the entire DataFrame by the 'Name' column (in-place is optional)
titanic_train.sort_values(by='Name')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
845,846,0,3,"Abbing, Mr. Anthony",male,42.0,0,0,C.A. 5547,7.5500,NaN,S
746,747,0,3,"Abbott, Mr. Rossmore Edward",male,16.0,1,1,C.A. 2673,20.2500,NaN,S
279,280,1,3,"Abbott, Mrs. Stanton (Rosa Hunt)",female,35.0,1,1,C.A. 2673,20.2500,NaN,S
308,309,0,2,"Abelson, Mr. Samuel",male,30.0,1,0,P/PP 3381,24.0000,NaN,C
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
286,287,1,3,"de Mulder, Mr. Theodore",male,30.0,0,0,345774,9.5000,NaN,S
282,283,0,3,"de Pelsmaeker, Mr. Alfons",male,16.0,0,0,345778,9.5000,NaN,S
361,362,0,2,"del Carlo, Mr. Sebastiano",male,29.0,1,0,SC/PARIS 2167,27.7208,NaN,C
153,154,0,3,"van Billiard, Mr. Austin Blyler",male,40.5,0,2,A/5. 851,14.5000,NaN,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S

In [252]:
#Get the first 10 names from the 'Name' column after sorting them alphabetically (A–Z)
sorted(titanic_train["Name"])[:10]

['Abbing, Mr. Anthony',
 'Abbott, Mr. Rossmore Edward',
 'Abbott, Mrs. Stanton (Rosa Hunt)',
 'Abelson, Mr. Samuel',
 'Abelson, Mrs. Samuel (Hannah Wizosky)',
 'Adahl, Mr. Mauritz Nils Martin',
 'Adams, Mr. John',
 'Ahlin, Mrs. Johan (Johanna Persdotter Larsson)',
 'Aks, Mrs. Sam (Leah Rosen)',
 'Albimona, Mr. Nassef Cassem']

In [253]:
# Get the first 50 names from the 'Name' column after sorting them in alphabetical order (A–Z)
sorted(titanic_train["Name"])[:50]

['Abbing, Mr. Anthony',
 'Abbott, Mr. Rossmore Edward',
 'Abbott, Mrs. Stanton (Rosa Hunt)',
 'Abelson, Mr. Samuel',
 'Abelson, Mrs. Samuel (Hannah Wizosky)',
 'Adahl, Mr. Mauritz Nils Martin',
 'Adams, Mr. John',
 'Ahlin, Mrs. Johan (Johanna Persdotter Larsson)',
 'Aks, Mrs. Sam (Leah Rosen)',
 'Albimona, Mr. Nassef Cassem',
 'Alexander, Mr. William',
 'Alhomaki, Mr. Ilmari Rudolf',
 'Ali, Mr. Ahmed',
 'Ali, Mr. William',
 'Allen, Miss. Elisabeth Walton',
 'Allen, Mr. William Henry',
 'Allison, Master. Hudson Trevor',
 'Allison, Miss. Helen Loraine',
 'Allison, Mrs. Hudson J C (Bessie Waldo Daniels)',
 'Allum, Mr. Owen George',
 'Andersen-Jensen, Miss. Carla Christine Nielsine',
 'Anderson, Mr. Harry',
 'Andersson, Master. Sigvard Harald Elias',
 'Andersson, Miss. Ebba Iris Alfrida',
 'Andersson, Miss. Ellis Anna Maria',
 'Andersson, Miss. Erna Alexandra',
 'Andersson, Miss. Ingeborg Constanzia',
 'Andersson, Miss. Sigrid Elisabeth',
 'Andersson, Mr. Anders Johan',
 'Andersson, Mr. August Edvard ("Wennerstrom")',
 'Andersson, Mrs. Anders Johan (Alfrida Konstantia Brogren)',
 'Andreasson, Mr. Paul Edvin',
 'Andrew, Mr. Edgardo Samuel',
 'Andrews, Miss. Kornelia Theodosia',
 'Andrews, Mr. Thomas Jr',
 'Angle, Mrs. William A (Florence "Mary" Agnes Hughes)',
 'Appleton, Mrs. Edward Dale (Charlotte Lamson)',
 'Arnold-Franchi, Mr. Josef',
 'Arnold-Franchi, Mrs. Josef (Josefine Franchi)',
 'Artagaveytia, Mr. Ramon',
 'Asim, Mr. Adola',
 'Asplund, Master. Clarence Gustaf Hugo',
 'Asplund, Master. Edvin Rojj Felix',
 'Asplund, Miss. Lillian Gertrud',
 'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
 'Astor, Mrs. John Jacob (Madeleine Talmadge Force)',
 'Attalah, Miss. Malake',
 'Attalah, Mr. Sleiman',
 'Aubart, Mme. Leontine Pauline',
 'Augustsson, Mr. Albert']

In [255]:
#Get the top 10 names from the 'Name' column sorted in reverse (Z–A) alphabetical order
sorted(titanic_train["Name"],reverse=True)[:10]

['van Melkebeke, Mr. Philemon',
 'van Billiard, Mr. Austin Blyler',
 'del Carlo, Mr. Sebastiano',
 'de Pelsmaeker, Mr. Alfons',
 'de Mulder, Mr. Theodore',
 'de Messemaeker, Mrs. Guillaume Joseph (Emma)',
 'Zimmerman, Mr. Leo',
 'Zabour, Miss. Thamine',
 'Zabour, Miss. Hileni',
 'Yrois, Miss. Henriette ("Mrs Harbeck")']

In [256]:
sorted(titanic_train["Name"],reverse=True)[:50]

['van Melkebeke, Mr. Philemon',
 'van Billiard, Mr. Austin Blyler',
 'del Carlo, Mr. Sebastiano',
 'de Pelsmaeker, Mr. Alfons',
 'de Mulder, Mr. Theodore',
 'de Messemaeker, Mrs. Guillaume Joseph (Emma)',
 'Zimmerman, Mr. Leo',
 'Zabour, Miss. Thamine',
 'Zabour, Miss. Hileni',
 'Yrois, Miss. Henriette ("Mrs Harbeck")',
 'Yousseff, Mr. Gerious',
 'Yousif, Mr. Wazli',
 'Youseff, Mr. Gerious',
 'Young, Miss. Marie Grice',
 'Yasbeck, Mrs. Antoni (Selini Alexander)',
 'Yasbeck, Mr. Antoni',
 'Wright, Mr. George',
 'Woolner, Mr. Hugh',
 'Wiseman, Mr. Phillippe',
 'Windelov, Mr. Einar',
 'Williams-Lambert, Mr. Fletcher Fellows',
 'Williams, Mr. Leslie',
 'Williams, Mr. Howard Hugh "Harry"',
 'Williams, Mr. Charles Eugene',
 'Williams, Mr. Charles Duane',
 'Willey, Mr. Edward',
 'Wilhelms, Mr. Charles',
 'Wiklund, Mr. Jakob Alfred',
 'Widener, Mr. Harry Elkins',
 'Widegren, Mr. Carl/Charles Peter',
 'Wick, Mrs. George Dennick (Mary Hitchcock)',
 'Wick, Miss. Mary Natalie',
 'White, Mr. Richard Frasar',
 'White, Mr. Percival Wayland',
 'Wheadon, Mr. Edward H',
 'West, Mrs. Edwy Arthur (Ada Mary Worth)',
 'West, Mr. Edwy Arthur',
 'West, Miss. Constance Mirium',
 'Wells, Miss. Joan',
 'Weisz, Mrs. Leopold (Mathilde Francoise Pede)',
 'Weir, Col. John',
 'Webber, Mr. James',
 'Webber, Miss. Susan',
 'Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)',
 'Watson, Mr. Ennis Hastings',
 'Warren, Mrs. Frank Manley (Anna Sophia Atkinson)',
 'Ward, Miss. Anna',
 'Walker, Mr. William Anderson',
 'Waelens, Mr. Achille',
 'Vovk, Mr. Janko']

In [260]:
#Statistical summary of numeric columns
titanic_train["Name"].describe()

count                         891
unique                        891
top       Braund, Mr. Owen Harris
freq                            1
Name: Name, dtype: object

In [261]:
#Select the 'Ticket' column as a DataFrame and display rows at index positions 0 and 2 (every 2nd row from the first 5)
titanic_train[["Ticket"]][:5:2]

             Ticket
0         A/5 21171
2  STON/O2. 3101282
4            373450

In [262]:
# Display the statistical summary of all columns, including both numeric and non-numeric (categorical/object) types
titanic_train.describe(include="all")

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,NaN,"Braund, Mr. Owen Harris",male,NaN,NaN,NaN,347082,NaN,B96 B98,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

In [263]:
#adding new column 
titanic_train["isha"]="isha"

In [264]:
#Convert the 'Pclass' column in the Titanic dataset to a pandas Categorical object (unordered by default)
new_Pclass = pd.Categorical(titanic_train["Pclass"])
#Check the data type of the converted object — should return <class 'pandas.core.arrays.categorical.Categorical'>
type(new_Pclass)

pandas.core.arrays.categorical.Categorical

In [265]:
#Get unique values
titanic_train["Pclass"].unique()

array([3, 1, 2], dtype=int64)

In [266]:
# Create an ordered categorical variable with defined category order: "one" < "two" < "three"
pd.Categorical(["one","two","three","one","two","three"],categories=["one","two","three"],ordered=True)

['one', 'two', 'three', 'one', 'two', 'three']
Categories (3, object): ['one' < 'two' < 'three']

In [267]:
#Get unique values
titanic_train["Cabin"].unique()

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

In [268]:
#Printing values from column Cabin
titanic_train["Cabin"]

0       NaN
1       C85
2       NaN
3      C123
4       NaN
       ...
886     NaN
887     B42
888     NaN
889    C148
890     NaN
Name: Cabin, Length: 891, dtype: object

In [269]:
#Convert all values in the 'Cabin' column to string type (including NaN, which becomes the string 'nan')
titanic_train["Cabin"].astype(str)

0       nan
1       C85
2       nan
3      C123
4       nan
       ...
886     nan
887     B42
888     nan
889    C148
890     nan
Name: Cabin, Length: 891, dtype: object

In [271]:
# Convert all entries in the 'Cabin' column to string type (NaN becomes 'nan')
char_cabin = titanic_train["Cabin"].astype(str)

#  Extract the first character from each cabin entry (e.g., 'C85' → 'C') using list comprehension
new_Cabin = [cabin[0] for cabin in char_cabin]

#  Convert the list of first letters into a categorical variable
new_Cabin = pd.Categorical(new_Cabin)

#  View the resulting Categorical object — typically deck letters like 'A', 'B', 'C', etc., and possibly 'n' for 'nan'
new_Cabin

['n', 'C', 'n', 'C', 'n', ..., 'n', 'B', 'n', 'C', 'n']
Length: 891
Categories (9, object): ['A', 'B', 'C', 'D', ..., 'F', 'G', 'T', 'n']

In [272]:
#Replace the original 'Cabin' column in the Titanic dataset with the new simplified version (first character only, as categorical)
titanic_train["Cabin"]=new_Cabin

In [273]:
#View the first few rows of the dataset
titanic_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,isha
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,n,S,isha
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,C,isha
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,n,S,isha
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C,S,isha
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,n,S,isha

In [274]:
#Check for non-missing (non-null) values in the entire DataFrame — returns True for filled cells, False for NaNs
titanic_train.notnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,isha
0,True,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,True,True,True,True,True,True,True,True,True,True,True,True,True
887,True,True,True,True,True,True,True,True,True,True,True,True,True
888,True,True,True,True,True,False,True,True,True,True,True,True,True
889,True,True,True,True,True,True,True,True,True,True,True,True,True
890,True,True,True,True,True,True,True,True,True,True,True,True,True

In [275]:
# Check for missing values
titanic_train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin            0
Embarked         2
isha             0
dtype: int64

In [276]:
# Check for missing values
titanic_train.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,isha
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,False,False,False
887,False,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,False,False,False
889,False,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,False,False,False

Remove the specific column

In [124]:
#Drop specified column(s)
titanic_train.drop(['PassengerId'],axis=1)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,isha
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,n,S,isha
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,C,isha
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,n,S,isha
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C,S,isha
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,n,S,isha
...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,n,S,isha
887,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B,S,isha
888,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,n,S,isha
889,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C,C,isha
890,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,n,Q,isha


titanic_tarin.drop(['PassengerId'],axis=1,inplace =True)

In [278]:
# Check for missing values
missing=np.where(titanic_train["Age"].isnull()==True)
missing

(array([  5,  17,  19,  26,  28,  29,  31,  32,  36,  42,  45,  46,  47,
         48,  55,  64,  65,  76,  77,  82,  87,  95, 101, 107, 109, 121,
        126, 128, 140, 154, 158, 159, 166, 168, 176, 180, 181, 185, 186,
        196, 198, 201, 214, 223, 229, 235, 240, 241, 250, 256, 260, 264,
        270, 274, 277, 284, 295, 298, 300, 301, 303, 304, 306, 324, 330,
        334, 335, 347, 351, 354, 358, 359, 364, 367, 368, 375, 384, 388,
        409, 410, 411, 413, 415, 420, 425, 428, 431, 444, 451, 454, 457,
        459, 464, 466, 468, 470, 475, 481, 485, 490, 495, 497, 502, 507,
        511, 517, 522, 524, 527, 531, 533, 538, 547, 552, 557, 560, 563,
        564, 568, 573, 578, 584, 589, 593, 596, 598, 601, 602, 611, 612,
        613, 629, 633, 639, 643, 648, 650, 653, 656, 667, 669, 674, 680,
        692, 697, 709, 711, 718, 727, 732, 738, 739, 740, 760, 766, 768,
        773, 776, 778, 783, 790, 792, 793, 815, 825, 826, 828, 832, 837,
        839, 846, 849, 859, 863, 868, 878, 888], dtype=int64),)

In [126]:
# Check for missing values
titanic_train['Age'][titanic_train.Age.isnull()]

5     NaN
17    NaN
19    NaN
26    NaN
28    NaN
       ..
859   NaN
863   NaN
868   NaN
878   NaN
888   NaN
Name: Age, Length: 177, dtype: float64